<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="addPatientCtrl">
<head>
<title>Нова історія хвороби - {{patientHistory.patientHolDb.patientSurname}}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/bootstrap.css"></link>
<link rel="stylesheet" href="/css/datepicker.css"></link>
<link rel='stylesheet prefetch' href='/css/font-awesome.min.css'>
<link rel="stylesheet" href="/css/epicrise3.css"></link>
</head>

<body data-key-cuwytrap="">
	<div class="container">
		<div class="row">
			<div class="col-xs-5" style="text-align: right;">
				Хмельницька Обласна Лікарня<br> м.Хмельницький, вул.Пілотська,
				1 <span class="navbar-left no-print"> <a href="history_45815">
						назад до <u> ЕІХ </u>
				</a>
				</span>
			</div>
			<div class="col-xs-1" style="text-align: center;">
				<img alt="trizub" src="/img/gerb_small.png">
			</div>
			<div class="col-xs-5">
				+380 382 72-07-42, incoming@med.km.ua <br />
				http://hol.khmelnitskiy.ua/ <span class="navbar-right no-print">
					<a data-ng-click="savePatientHistory()" href="#"
					title="Запис {{numberOfChange}} незбережених змін"> Запис <span
						class="glyphicon glyphicon-floppy-disk"></span>{{numberOfChange}}
				</a>
				</span>
			</div>
		</div>
	</div>
	<div class="container">
		<h2 class="centered">Нова історія хвороби</h2>
		<div data-ng-repeat="g in newHistoryTemplate.groups"
			data-ng-init="gr = newHistoryTemplate[g]"
			>
			<span data-ng-click="editOpenClose(gr)"> <b> {{gr.name}} </b>
				<a href="#" class="no-print"> <span data-ng-if="!gr.open"
					class="glyphicon glyphicon-chevron-right"></span> <span
					data-ng-if="gr.open" class="glyphicon glyphicon-chevron-down"></span>
			</a>
			<span  data-ng-show="g == 'pip'"> <b>Прізвище</b> <span>{{patientHistory.patientHolDb.patientSurname}}</span>
				<b>Ім’я</b> <span>{{patientHistory.patientHolDb.patientPersonalName}}</span>
			</span>
			</span>
			
			<div class="row well no-print"
				data-ng-show="gr.open">
				<div data-ng-show="g == 'pip'">
					<form class="form-inline" role="form"
						>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">Прізвище</div>
								<input id="patientSurname"
									ng-model="patientHistory.patientHolDb.patientSurname"
									class="form-control" type="text" />
							</div>
							<div class="input-group">
								<div class="input-group-addon">Ім’я</div>
								<input id="patientPersonalName"
									ng-model="patientHistory.patientHolDb.patientPersonalName"
									class="form-control" type="text" />
							</div>
							<div class="input-group">
								<label class="radio-inline"> <input type="radio"
									name="patientGender"
									ng-model="patientHistory.patientHolDb.patientGender" value="1" />
									Чол
								</label> <label class="radio-inline"> <input type="radio"
									name="patientGender"
									ng-model="patientHistory.patientHolDb.patientGender" value="0" />
									Жін
								</label>
							</div>
							<div class="input-group">
								<div class="input-group-addon">По батькові</div>
								<input type="text" class="form-control input-sm"
									placeholder="По батькові" id="patientPatronymic"
									name="patientPatronymic"
									ng-model="patientHistory.patientHolDb.patientPatronymic"
									/>
							</div>
							<div class="input-group">
								<div class="input-group-addon">д.н.</div>
								<input
									id="patientDob" name="patientDob"
									ng-model="patientHistory.patientHolDb.patientDob" 
									class="form-control input-sm" type="text"
									placeholder="(дд-мм-рррр)" ng-click="open($event)"
									datepicker-popup="dd-MM-yyyy" is-open="opened"
									datepicker-options="dateOptions" ng-required="true" />
							</div>
						</div>
					</form>
				</div>
				
				<div data-ng-show="g == 'adress'">
					<form class="form-inline" role="form">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">Область:</div>
								<input type="text" class="form-control" id="district"
									name="district" ng-model="patientEditing.district" required="" />
								<div class="input-group-btn">
									<button type="button" class="btn btn-default dropdown-toggle"
										data-ng-click="getCountryDistricts()"
										data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<div class="dropdown-menu dropdown-menu-right" role="menu">
										<table>
											<tr>
												<td>
													<ul>
														<li ng-repeat="district in districts"
															ng-if="districts.length/3 >= $index"><a
															ng-click="setDistrict(district)">{{district.districtName}}</a>
														</li>
													</ul>
												</td>
												<td>
													<ul>
														<li ng-repeat="district in districts"
															ng-if="isDistrict2of3($index, districts)"><a
															ng-click="setDistrict(district)">{{district.districtName}}</a>
														</li>
													</ul>
												</td>
												<td>
													<ul>
														<li ng-repeat="district in districts"
															ng-if="$index > districts.length/3*2"><a
															ng-click="setDistrict(district)">{{district.districtName}}</a>
														</li>
													</ul>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="input-group">
								<div class="input-group-addon">Район:</div>
								<input type="text" class="form-control input-sm" id="region"
									name="region" ng-model="patientEditing.region" />
							</div>
							<div class="input-group">
								<label class="radio"> <input type="radio"
									name="localityType" ng-model="patientEditing.localityType"
									value="1" /> місто
								</label> <label class="radio"> <input type="radio"
									name="localityType" ng-model="patientEditing.localityType"
									value="0" /> село
								</label>
							</div>
							<div class="input-group">
								<div class="input-group-addon">місто/село</div>
								<input type="text" class="form-control input-sm"
									id="localityName" name="localityName"
									ng-model="patientEditing.localityName" required="" />
							</div>
						</div>
					</form>
					<!-- 
					<div>
					dd
					</div>
					 -->
					<form class="form-inline" role="form">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">Вулиця</div>
								<input type="text" class="form-control input-sm"
									placeholder="вулиця" id="patientStreet" name="patientStreet"
									ng-model="patientHistory.patientHolDb.patientStreet" />
							</div>
							<div class="input-group">
								<div class="input-group-addon">Будинок</div>
								<input type="text" class="form-control input-sm"
									id="patientHouse" name="patientHouse"
									ng-model="patientHistory.patientHolDb.patientHouse" />
							</div>
							<div class="input-group">
								<div class="input-group-addon">Квартира</div>
								<input type="text" class="form-control input-sm"
									id="patientFlat" name="patientFlat"
									ng-model="patientHistory.patientHolDb.patientFlat" />
							</div>
							<br/>
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-earphone"></span>
								</div>
								<input type="text" class="form-control input-sm"
									placeholder="домашній" id="patientPhoneHome"
									name="patientPhoneHome"
									ng-model="patientHistory.patientHolDb.patientPhoneHome" />
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-phone"></span>
								</div>
								<input type="text" class="form-control input-sm"
									placeholder="мобільний" id="patientPhoneMobil"
									name="patientPhoneMobil"
									ng-model="patientHistory.patientHolDb.patientPhoneMobil" />
							</div>
							<br/>
							<div class="input-group">
								<div class="input-group-addon">Місце роботи:</div>
								<input type="text" class="form-control" id="patientJob"
									name="patientJob"
									ng-model="patientHistory.patientHolDb.patientJob" />
							</div>
							<div class="input-group">
								<div class="input-group-addon">Пільги:</div>
								<input type="text" class="form-control" id="pilgy"
									name="pilgy" ng-model="patientEditing.pilgy" required="" />
								<div class="input-group-btn">
									<button type="button" class="btn btn-default dropdown-toggle"
										data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu dropdown-menu-right" role="menu">
										<li data-ng-repeat="b in benefits"><a href="#"
											ng-click="patientEditing.pilgy=b">{{b}}</a></li>
									</ul>
								</div>
							</div></form>
				</div>

			</div>
		</div>
	</div>
	<hr/>
	<div class="container">addPatient</div>
</body>
	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/rangy-core.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-sanitize.min.js"></script>
	<script src="/js/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src='/js/textAngular-sanitize.js'></script>
	<script src='/js/textAngular.js'></script>
	<script src="/db/config.json.js"></script>
	<script src="/db/operationTree.json.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/js/cuwy1.controller.js"></script>
	<script src="/js/addPatient.js"></script>
</html>
