<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="EpicriseCtrl">
<head>
<title>Виписка - {{patientHistory.patientHolDb.patientSurname}}</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/bootstrap.css"></link>
<link rel="stylesheet" href="/css/datepicker.css"></link>
<link rel='stylesheet prefetch' href='/css/font-awesome.min.css'>
<link rel="stylesheet" href="/css/epicrise3.css"></link>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-5" style="text-align: right;">
				Хмельницька Обласна Лікарня<br> м.Хмельницький, вул.Пілотська,
				1 <span class="navbar-left no-print"> <a href="history_45815">
						назад до <u> ЕІХ </u>
				</a>
				</span>
			</div>
			<div class="col-xs-1" style="text-align: center;">
				<img alt="trizub" src="/img/gerb_small.png">
			</div>
			<div class="col-xs-5">
				+380 382 72-07-42, incoming@med.km.ua <br />
				http://hol.khmelnitskiy.ua/ <span class="navbar-right no-print">
					<a data-ng-click="saveWorkDoc()" href="#"
					title="Запис {{numberOfChange}} незбережених змін"> Запис
						<span class="glyphicon glyphicon-floppy-disk"></span>{{numberOfChange}}
				</a>
				</span>
			</div>
		</div>
	</div>
	<div class="container">
		<h2 class="centered">Виписка</h2>
		<div class="h4">
			<span
				data-ng-show="epicrise.patientHistory.patientHolDb.patientGender == 0">
				Хвора: </span> <span
				data-ng-show="epicrise.patientHistory.patientHolDb.patientGender == 1">
				Хворий: </span> {{epicrise.patientHistory.patientHolDb.patientSurname}}
			{{patientHistory.patientHolDb.patientPersonalName}}
			{{patientHistory.patientHolDb.patientPatronymic}} <span
				data-ng-bind="calculateAge(patientHistory.patientHolDb.patientDob)"></span>
			р. (*{{patientHistory.patientHolDb.patientDob |
			date:'dd.MM.yyyy'}})
		</div>
		<div>
			<div class="epicriseElement"
				data-ng-repeat-start="h1 in epicriseTemplate.head1s"
				data-ng-init="h1Index = $index"
				data-ng-class="{'no-print navbar-right':epicriseTemplate.epicriseBlockConfig[h1.name].isOnDemand}"
				data-ng-click="editOpenClose(h1Index)">
				<b> <span
					data-ng-show="epicriseTemplate.epicriseBlockConfig[h1.name].isOnDemand">+</span>
					{{h1.name}}
				</b> <a href="#" class="no-print"> <span
					data-ng-if="!epicriseTemplate.head1s[h1Index].open"
					class="glyphicon glyphicon-chevron-right"></span> <span
					data-ng-if="epicriseTemplate.head1s[h1Index].open"
					class="glyphicon glyphicon-chevron-down"></span>
				</a> {{epicrise[h1.name].historyTreatmentAnalysisDatetime |
				date:'dd.MM.yyyy'}}
				<!-- dz -->
				<span data-ng-show="h1.name == 'Діагнози'">
				<span>
					Діагноз при госпіталізації: <b
						tooltip-html-unsafe="Дата встановлення: &lt;b>{{patientHistory.diagnosisOnAdmission.historyDiagnosDate | date:'dd.MM.yyyy HH:mm'}}&lt;/b>">
						{{patientHistory.diagnosisOnAdmission.icdCode}},
						{{patientHistory.diagnosisOnAdmission.icdName}} </b>
				</span>
				</span>
				<!-- текстові html данні -->
				<span ng-bind-html="epicrise[h1.name].textHtml"
					data-ng-show="!epicrise[h1.name].laborValues"></span>
				<!-- лабораторні данні -->
				<span
					data-ng-repeat="laborTemplate in epicriseTemplate.epicriseBlock[h1.name]">
					<span
					data-ng-show="epicrise[h1.name].laborValues[laborTemplate.name]">
						{{laborTemplate.name}}
						{{epicrise[h1.name].laborValues[laborTemplate.name].value}}
						{{laborTemplate.unit}} <span data-ng-show="!$last">,</span>
				</span>
				</span>
			</div>
			<!-- редактор -->
			<div class="row well no-print" data-ng-repeat-end=""
				data-ng-show="epicriseTemplate.head1s[h1Index].open">
				<hr data-ng-show="epicriseTemplate.epicriseBlockConfig[h1.name].isOnDemand"/>
				<div class="col-xs-9">
					<!-- додати групу - редактор -->
					<div
						data-ng-show="epicriseTemplate.epicriseBlockConfig[h1.name].isOnDemand">
						<span data-ng-repeat="h2 in h1.addGroup"> {{h2.name}} | </span>
					</div>
					<!-- данні текстового формату - редактор -->
					<div text-angular ng-model="epicrise[h1.name].textHtml"
						data-ng-show="epicriseTemplate.epicriseBlockConfig[h1.name].isTextHtml"></div>
					<!-- лабораторні данні редактор -->
					<span
						data-ng-repeat="laborTemplate in epicriseTemplate.epicriseBlock[h1.name]">
						<a
						data-ng-show="laborTemplate.name != epicrise[h1.name].laborOpenToEdit"
						data-ng-click="openLaborToEdit(epicrise[h1.name], laborTemplate.name)">
							{{laborTemplate.name}}
							{{epicrise[h1.name].laborValues[laborTemplate.name].value}} <span
							data-ng-show="!epicrise[h1.name].laborValues[laborTemplate.name].value">
								_________ </span> {{laborTemplate.unit}}
					</a>
						<form class="form-inline" role="form"
							data-ng-show="laborTemplate.name == epicrise[h1.name].laborOpenToEdit">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">{{laborTemplate.name}}</div>
									<input id="{{laborTemplate.name}}"
										ng-model="epicrise[h1.name].laborValues[laborTemplate.name].value"
										class="form-control" type="text" />
									<div class="input-group-addon">{{laborTemplate.unit}}</div>
								</div>
							</div>
						</form> <span data-ng-show="!$last">,</span>
					</span>
				</div>
				<div class="col-xs-3">
					<a data-ng-click="changeBlockDate(dt, h1Index)"> Поновити дату
						розділу виписки {{dt | date:'dd.MM.yyyy'}} </a>
					<datepicker ng-model="dt" min-date="minDate" show-weeks="true"
						class="well well-sm"></datepicker>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/rangy-core.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-sanitize.min.js"></script>
	<script src="/js/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>
	<script src='/js/textAngular-sanitize.js'></script>
	<script src='/js/textAngular.js'></script>
	<script src="/db/config.json.js"></script>
	<script src="/db/operationTree.json.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script src="/js/cuwy1.controller.js"></script>
	<script src="/js/epicriseTemplate.json.js"></script>
	<script src="/js/epicrise3.js"></script>

</body>
</html>
