<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="HistoryCtrl">
<head>
	<meta charset=utf-8>
	<title>ХОЛ::
	{{patientHistory.patientDepartmentMovements
				[patientHistory.patientDepartmentMovements.length -1]
				.departmentName}}
	</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		.row h2 { margin-top: 0px; }
		hr.shortPatienHistory { margin: 0px; border-width: 3px 0 0;}
		@media print {
			.breadcrumb, .no-print {
				display: none !important;
			}
		}
	</style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
	<div class="navbar-header">
		<ol class="breadcrumb">
			<li><a href="/home.html"><span class="glyphicon glyphicon-home"></span> ХОЛ</a></li>
			<li>
				<a href="/hol/department.html?dep={{patientHistory.patientDepartmentMovements
				[patientHistory.patientDepartmentMovements.length -1]
				.departmentId}}
				">
				{{patientHistory.patientDepartmentMovements
				[patientHistory.patientDepartmentMovements.length -1]
				.departmentName}}
				</a>
			</li>
			<li class="active">
			ІХ::Короткий перегляд
			</li>
		</ol>
	</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"
				title="Premium Bootstrap Themes &amp; Templates"><i
					class="fa fa-star text-yellow"></i> меню <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="/hol/history.html?hno={{patientHistory.historyNo}}">Короткий перегляд</a></li>
					<li><a href="/hol/admission/statistic.html">Журнал обліку хворих</a></li>
					<li class="divider"></li>
					<li><a href="/hol/operation/add-op.html">
							Заявка на додавання операції до словника</a></li>
					<li><a href="/hol/operation/liste-op.html">
							Список операцій</a></li>
					<li><a href="/hol/operation/liste-complication.html">
							Список післяопераційних ускладнень</a></li>
				</ul></li>
		</ul>
	</div>
</div>
</nav>
	<div class="container">
		<div class="col-md-9">
		
		<div>
			<h4>№: {{patientHistory.historyNo}} 
			{{patientHistory.patientHolDb.patientSurname}} 
			{{patientHistory.patientHolDb.patientPersonalName}} 
			{{patientHistory.patientHolDb.patientPatronymic}} 
			</h4>
			<div>Хвора: 
			{{patientHistory.patientHolDb.patientSurname}} 
			{{patientHistory.patientHolDb.patientPersonalName}} 
			{{patientHistory.patientHolDb.patientPatronymic}} 
		
			<span ng-bind="calculateAge(patientHistory.patientHolDb.patientDob)"></span>
			р.
			(*{{patientHistory.patientHolDb.patientDob | date:'dd.MM.yyyy'}})
			</div>
			<div>Адреса: 
				<span ng-if="patientHistory.patientHolDb.patientStreet">
					вул.{{patientHistory.patientHolDb.patientStreet}},
					буд.{{patientHistory.patientHolDb.patientHouse}},
					кв.{{patientHistory.patientHolDb.patientFlat}}
				</span>
				<span ng-if="!patientHistory.patientHolDb.patientStreet">?</span>
			</div>
			<div>Місце роботи: 
				<span ng-if="patientHistory.patientHolDb.patientJob">
					{{patientHistory.patientHolDb.patientJob}}
				</span>
				<span ng-if="!patientHistory.patientHolDb.patientJob">?</span>
			</div>
			<div>Медична інформація: 
				<span>гр.кр.
					<span ng-if="'I' == patientHistory.patientHolDb.patientBlood">{{patientHistory.patientHolDb.patientBlood}}(O),</span>
					<span ng-if="'II' == patientHistory.patientHolDb.patientBlood">{{patientHistory.patientHolDb.patientBlood}}(A),</span>
					<span ng-if="'III' == patientHistory.patientHolDb.patientBlood">{{patientHistory.patientHolDb.patientBlood}}(B),</span>
					<span ng-if="'IV' == patientHistory.patientHolDb.patientBlood">{{patientHistory.patientHolDb.patientBlood}}(AB),</span>
				</span>
				<span ng-if="1 == patientHistory.patientHolDb.patientRh2">Rh(+),</span>
				<span ng-if="0 == patientHistory.patientHolDb.patientRh2">Rh(-),</span>
				<span ng-if="!(1 == patientHistory.patientHolDb.patientRh2 || 0 == patientHistory.patientHolDb.patientRh2)">Rh(?),</span>
				
				<span ng-if="1 == patientHistory.patientHolDb.patientBj">Bj(+),</span>
				<span ng-if="0 == patientHistory.patientHolDb.patientBj">Bj(-),</span>
				<span ng-if="!(1 == patientHistory.patientHolDb.patientBj || 0 == patientHistory.patientHolDb.patientBj)">Bj(?),</span>
				
				<span ng-if="1 == patientHistory.patientHolDb.patientSc">Sc(+),</span>
				<span ng-if="0 == patientHistory.patientHolDb.patientSc">Sc(-),</span>
				<span ng-if="!(1 == patientHistory.patientHolDb.patientSc || 0 == patientHistory.patientHolDb.patientSc)">Sc(?),</span>
				
				<span ng-if="1 == patientHistory.patientHolDb.patientTbc">tbc(+),</span>
				<span ng-if="0 == patientHistory.patientHolDb.patientTbc">tbc(-),</span>
				<span ng-if="!(1 == patientHistory.patientHolDb.patientTbc || 0 == patientHistory.patientHolDb.patientTbc)">tbc(?),</span>
		
				<span ng-if="1 == patientHistory.patientHolDb.patientT">T(+),</span>
				<span ng-if="0 == patientHistory.patientHolDb.patientT">T(-),</span>
				<span ng-if="!(1 == patientHistory.patientHolDb.patientT || 0 == patientHistory.patientHolDb.patientT)">T(?),</span>
		
				<span ng-if="1 == patientHistory.patientHolDb.patientHbs">ВІЛ(+),</span>
				<span ng-if="0 == patientHistory.patientHolDb.patientHbs">ВІЛ(-),</span>
				<span ng-if="!(1 == patientHistory.patientHolDb.patientHbs || 0 == patientHistory.patientHolDb.patientHbs)">ВІЛ(?),</span>
		
				<span ng-if="1 == patientHistory.patientHolDb.patientRw">RW(+) -</span>
				<span ng-if="0 == patientHistory.patientHolDb.patientRw">RW(-) -</span>
				<span ng-if="!(1 == patientHistory.patientHolDb.patientRw || 0 == patientHistory.patientHolDb.patientRw)">RW(?) -</span>
				({{patientHistory.patientHolDb.patientRwDate | date:'dd.MM.yyyy'}})
			</div>
			<div>Побічна дія медикаментів:
			</div>
			<hr class="shortPatienHistory">
			<div><u><b>Рух хворого</b></u>:
				<span ng-repeat="patientDepartmentMovement in patientHistory.patientDepartmentMovements">
					{{patientDepartmentMovement.departmentName}}:
					{{$index==0?'↓↓':'↓'
					}}{{patientDepartmentMovement.departmentHistoryIn | date:'dd.MM.yyyy HH:mm'
					}}{{patientDepartmentMovement.departmentHistoryOut?';':''}}
					<span ng-if="patientDepartmentMovement.departmentHistoryOut">
						↑{{patientDepartmentMovement.departmentHistoryOut | date:'dd.MM.yyyy HH:mm'
						}};
						<small>
						{{patientDepartmentMovement.personalSurname}}
						{{patientDepartmentMovement.personalName}}
						{{patientDepartmentMovement.personalPatronymic}}
						</small>
						<br>
					</span>
				</span>
				<div collapse="!patientHistory.perevid" class="well">
					<h3> Переведеня </h3>
				</div>
			</div>
			<hr class="shortPatienHistory">
			<div>Діагноз при госпіталізації: 
			<b tooltip-html-unsafe="Дата встановлення: <b>{{patientHistory.diagnosisOnAdmission.historyDiagnosDate | date:'dd.MM.yyyy HH:mm'}}</b>">
				{{patientHistory.diagnosisOnAdmission.icdCode}},
				{{patientHistory.diagnosisOnAdmission.icdName}}
			</b>
			</div>
			<hr class="shortPatienHistory">
			<div><u><b>Перебіг хвороби</b></u>:
				<div ng-repeat="historyTreatmentAnalysis in patientHistory.historyTreatmentAnalysises "
					ng-if="'' != historyTreatmentAnalysis.historyTreatmentAnalysisText"
					ng-show="historyTreatmentAnalysis.historyTreatmentAnalysisText.indexOf('table') < 0"
				>
					<div ng-bind-html="historyTreatmentAnalysis.historyTreatmentAnalysisText"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 well">
		<h4>Робоча панель</h4>
		<ol>
			<li>
			<span class="glyphicon glyphicon-transfer"></span>
			<a ng-click="patientHistory.perevid = !patientHistory.perevid "> Переведеня </a> </li>
			<li><a href="/hol/admission/patient?hno={{patient.history_no}}">
				<span class="glyphicon glyphicon-edit"></span> Редагування </a>
				|
				<small>
					<a href="http://localhost/history/inedit/id/{{patientHistory.historyId}}"> 
					<span class="glyphicon glyphicon-link"></span>
					HOL1 </a> 
				</small>
			</li>
			<li><span class="glyphicon glyphicon-share"></span> Виписка 
			|
				<small>
				<a href="http://localhost/history/edit/id/{{patientHistory.historyId}}"> 
				<span class="glyphicon glyphicon-link"></span>HOL1 </a>
				</small>
			</li>
		</ol>
		<div class="navbar-right"> 
			<a href="http://localhost/history/{{patientHistory.historyId}}"> 
			<span class="glyphicon glyphicon-link"></span>
			HOL1 </a> 
		</div>
	</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<div class="container">
		Text
		<!-- 
		<ul class="nav navbar-nav navbar-right">
		 -->
		<ol class="list-inline navbar-right">
			<li><a href="#"> 
			<span class="glyphicon glyphicon-transfer"></span>
			Переведеня </a></li>
			<li><a href="/hol/admission/patient?hno={{patient.history_no}}">
				<span class="glyphicon glyphicon-edit"></span> Редагування </a>
			</li>
			<li><a href="#"><span class="glyphicon glyphicon-share"></span> Виписка </a></li>
		</ol>
		</div>
	</nav>
	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="/js/angular-sanitize.min.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script type="text/javascript">
	var historyFile = "/hol/history_no_"+parameters.hno;

	cuwyApp.controller('HistoryCtrl', [ '$scope', '$http', function ($scope, $http) {

		$scope.patient = {
			name: 'Patient name',
			history_no: parameters.hno,
			patientHistory: null
		};

		if(parameters.hno){
			$http({
				method : 'GET',
				url : historyFile
			}).success(function(data, status, headers, config) {
				$scope.patientHistory = data;
			}).error(function(data, status, headers, config) {
			});
		}else if(parameters.hnoold){
			$http({
				method : 'GET',
				url : "/hol/history_old_no_"+parameters.hnoold
			}).success(function(data, status, headers, config) {
				$scope.patient.patientHistory = data;
				$scope.patientHistory = data;
				$scope.patient.name = data.patientName;
			}).error(function(data, status, headers, config) {
			});
			
		}

		$scope.calculateAge = function(birthDateStr) {
			if(!birthDateStr)
				return 0;
			var birthDate = new Date(birthDateStr)
				birthYear = birthDate.getFullYear(),
				birthMonth = birthDate.getMonth(),
				birthDay = birthDate.getDate();
			var todayDate = new Date(),
				todayYear = todayDate.getFullYear(),
				todayMonth = todayDate.getMonth(),
				todayDay = todayDate.getDate(),
				age = todayYear - birthYear; 

			if (todayMonth < birthMonth)
			{
				age--;
			}else if (birthMonth === todayMonth && todayDay < birthDay)
			{
				age--;
			}
			return age;
		};

	} ] );

	</script>

</body>
</html>
