<!DOCTYPE html>
<html ng-app='cuwyApp'>

<head>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
div.record {
}
div.record-highlight-parent {
	border: 1px dotted green;
}
div.record-highlight {
	background-color: green;
	color: #fff;
}
	</style>
</head>

<body key-trap>
http://stackoverflow.com/questions/16859970/navigate-the-ui-using-keyboard
http://stackoverflow.com/questions/17388021/navigate-the-ui-using-only-keyboard
	<div ng-controller="cuwyAppCtrl">
		<ul>
			<li ng-repeat="icd10Class0 in icd10Root.icd10Childs">
				<div class="record" ng-class="{'record-highlight':  icd10Class0.icdId == icd10Selected.icdId
				, 'record-highlight-parent': icd10Class0.icdId == icd10Pfad2Parents[1].icdId }"
				ng-click="clickItem(icd10Class0)" >
					<span ng-if="!icd10Class0.collapse" class="glyphicon glyphicon-chevron-right"></span>
					<span ng-if="icd10Class0.collapse" class="glyphicon glyphicon-chevron-down"></span>
					{{icd10Class0.icdCode }}, {{icd10Class0.icdName}}, {{icd10Class0.icd10Childs.length}}
				</div>
				<ul ng-if="icd10Class0.icd10Childs && icd10Class0.collapse">
					<li ng-repeat="icd10Class1 in icd10Class0.icd10Childs">
						<div class="record" ng-class="{'record-highlight': icd10Class1.icdId == icd10Selected.icdId
						, 'record-highlight-parent': icd10Class1.icdId == icd10Pfad2Parents[2].icdId }"
						ng-click="clickItem(icd10Class1)">
							<span ng-if="!icd10Class1.collapse" class="glyphicon glyphicon-chevron-right"></span>
							<span ng-if="icd10Class1.collapse" class="glyphicon glyphicon-chevron-down"></span>
							{{icd10Class1.icdCode }}, {{icd10Class1.icdName}}, {{icd10Class1.icd10Childs.length}}
						</div>
						<ul ng-if="icd10Class1.icd10Childs && icd10Class1.collapse">
							<li ng-repeat="icd10Class2 in icd10Class1.icd10Childs">
								<div class="record" ng-class="{'record-highlight': icd10Class2.icdId == icd10Selected.icdId
								, 'record-highlight-parent': icd10Class2.icdId == icd10Pfad2Parents[3].icdId }"
								ng-click="clickItem(icd10Class2)">
									{{icd10Class2.icdCode }}, {{icd10Class2.icdName}}, {{icd10Class2.icd10Childs.length}}
								</div>
								<ul ng-if="icd10Class2.icd10Childs && icd10Class2.collapse">
									<li ng-repeat="icd10Class3 in icd10Class2.icd10Childs">
										<div class="record" ng-class="{'record-highlight': icd10Class3.icdId == icd10Selected.icdId
										, 'record-highlight-parent': icd10Class3.icdId == icd10Pfad2Parents[4].icdId }"
										ng-click="clickItem(icd10Class3)">
											{{icd10Class3.icdCode }}, {{icd10Class3.icdName}}, {{icd10Class3.icd10Childs.length}}
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/angular.min.js"></script>
	<script type="text/javascript">
	var app = angular.module('cuwyApp', []);

	app.controller('cuwyAppCtrl',function ($scope, $http) {

		highlightSelect = function(icd10Class, fDeepIndex) {
			if(icd10Class.icdId == $scope.icd10Selected.icdId){
				$scope.focusDeepIndex = fDeepIndex - 1;
			}else
			if(icd10Class.icdStart <= $scope.icd10Selected.icdStart && icd10Class.icdEnd >= $scope.icd10Selected.icdEnd){
				$scope.icd10Pfad2Parents[fDeepIndex] = icd10Class;
			}
		}

		$scope.clickItem = function(icd10Class) {
			var icd10SelectedOld = $scope.icd10Selected;
			$scope.icd10Selected = icd10Class;
			icd10Class.collapse = !icd10Class.collapse;
			console.log($scope.icd10Selected.collapse+"/"+$scope.icd10Selected.selected
				+"::"+$scope.icd10Selected.icdStart+"/"+$scope.icd10Selected.icdEnd);
			$($scope.icd10Root.icd10Childs).each(function () {
				highlightSelect(this, 1);
				$(this.icd10Childs).each(function () {
					highlightSelect(this, 2);
					$(this.icd10Childs).each(function () {
						highlightSelect(this, 3);
						$(this.icd10Childs).each(function () {
							highlightSelect(this, 4);
						});
					});
				});
			});
			return icd10Class.collapse;
		}

		console.log("cuwyAppCtrl");

		$scope.focusIndex = 0;
		$scope.focusDeepIndex = 0;
		$scope.icd10Pfad2Parents = [];

		var KeyCodes = {
			BACKSPACE : 8,
			TABKEY : 9,
			RETURNKEY : 13,
			ESCAPE : 27,
			SPACEBAR : 32,
			LEFTARROW : 37,
			UPARROW : 38,
			RIGHTARROW : 39,
			DOWNARROW : 40,
		};

		$scope.keys = [];
		$scope.keys.push({
			code : KeyCodes.RETURNKEY,
			action : function() {
				console.log("code: RETURNKEY");
			}
		});
		$scope.keys.push({
			code : KeyCodes.LEFTARROW,
			action : function() {
				if($scope.focusDeepIndex != 0){
					$scope.icd10Selected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex];
					$scope.icd10Pfad2Parents[$scope.focusDeepIndex] = null;
					$scope.focusDeepIndex--;
					$scope.icd10Selected.collapse = false;
				}
				console.log("LEFTARROW " + $scope.focusDeepIndex);
			}
		});
		$scope.keys.push({
			code : KeyCodes.RIGHTARROW,
			action : function() {
				console.log("RIGHTARROW " + $scope.focusDeepIndex);
				if(!$scope.icd10Selected.icd10Childs){
					$http({ 
						method : "POST"
						, data : $scope.icd10Selected
						, url : "/readIcd10Childs"
					}).success(function(data, status, headers, config) {
						$scope.icd10Selected = data;
					}).error(function(data, status, headers, config) {
					});
				}
				if($scope.icd10Selected.icd10Childs){
					console.log("go deep " + $scope.focusDeepIndex);
					if($scope.focusDeepIndex <= 3){
						$scope.icd10Selected.collapse = true;
						$scope.focusDeepIndex++;
						$scope.icd10Pfad2Parents[$scope.focusDeepIndex] = $scope.icd10Selected;
						$scope.icd10Selected = $scope.icd10Selected.icd10Childs[0];
					}
				}
			}
		});
		$scope.keys.push({
			code : KeyCodes.UPARROW,
			action : function() {
				console.log(" UPARROW ");
				var indexSelected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs.indexOf($scope.icd10Selected);
				console.log(indexSelected+"/"+$scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs.length+"/"+$scope.focusIndex);
				if(indexSelected > 0)
					$scope.icd10Selected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs[indexSelected - 1];
				else
					$scope.icd10Selected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs[$scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs.length - 1];
			}
		});
		$scope.keys.push({
			code : KeyCodes.DOWNARROW,
			action : function() {
				console.log(" DOWNARROW ");
				var indexSelected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs.indexOf($scope.icd10Selected);
				if($scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs.length - indexSelected == 1)
					$scope.icd10Selected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs[0];
				else
					$scope.icd10Selected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs[indexSelected + 1];
			}
		});

		$scope.$on('keydown', function(msg, obj) {
			var code = obj.code;
			$scope.keys.forEach(function(o) {
				if (o.code !== code) {
					return;
				}
				o.action();
				$scope.$apply();
			});
		});

		$http({ 
			method : "GET", url : "/icd10ua/dummy2"
		}).success(function(data, status, headers, config) {
			$scope.icd10Root = data;
			$scope.icd10Pfad2Parents[0] = $scope.icd10Root;
			$scope.icd10Selected = $scope.icd10Root.icd10Childs[0];
			console.log($scope.icd10Selected);
		}).error(function(data, status, headers, config) {
		});

	});

	app.directive('keyTrap', function() {
		return function(scope, elem) {
			elem.bind('keydown', function(event) {
				scope.$broadcast('keydown', {
					code : event.keyCode
				});
			});
		};
	});
	</script>
</body>

</html>
