<!DOCTYPE html>
<html ng-app='cuwyApp'>

<head>
	<meta charset=utf-8>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
		.record { }
		.record-highlight-parent { border: 1px dotted green; }
		.record-highlight { background-color: green; color: #fff; }
	</style>
</head>

<body key-trap="" ng-controller="cuwyAppCtrl">

	<div>
		<h1>MKБ 10</h1>
		<div class="container">
			<div class="row">
				<div class="col-xs-1">Діагноз:</div>
				<div class="col-xs-7">
					<div class="form-group has-success has-feedback required">
						<label class="control-label sr-only" for="direct">Діагноз</label>
						<input type="text" class="form-control input-sm" placeholder="Діагноз МКБ10" 
						id="historyDiagnos" name="historyDiagnos" ng-model="patientEditing.historyDiagnos" required=""
						ng-change="openIcd10FilterDialog()"
						tooltip-html-unsafe="Діагноз &lt;b class='required-tooltip'>*&lt;/b>"
						/>
						<span class="glyphicon form-control-feedback"></span>
						<span class="control-label" ng-show="isRequired(newPatientForm.historyDiagnos)">
						Діагноз є обов'язковим і не може бути порожнім!</span>
					</div>
				</div>
				<div class="col-xs-1">
					<button class="btn btn-default btn-sm" ng-click="openIcd10TreeDialog()">
						<span class="glyphicon glyphicon-th-list"></span>
						<span class="caret"></span>
					</button>
				</div>
			</div>
			<div class="row well" collapse="collapseDiagnoseTreeFilter" ng-controller="icd10Ctrl" >
				<div class="col-xs-9">
				<button type="button" class="btn btn-default"
						ng-click="setChangeTreeFilterView()"
					>
						<span class="glyphicon glyphicon glyphicon-{{changeTreeFilterView?'list':'filter'}}"></span>
					</button>
				<div class="{{changeTreeFilterView?'show':'hidden'}}">
					filter
				</div>
				<div class="{{!changeTreeFilterView?'show':'hidden'}}">
				<ul>
					<li ng-repeat="icd10Class1 in icd10Root.icd10Childs">
						<span ng-if="!icd10Class1.collapse" class="glyphicon glyphicon-{{iconsTreeClose}}"></span>
						<span ng-if="icd10Class1.collapse" class="glyphicon glyphicon-{{iconsTreeOpen}}"></span>
						<span class="record" ng-class="{'record-highlight':  icd10Class1.icdId == icd10Selected.icdId
						, 'record-highlight-parent': icd10Class1.icdId == icd10Pfad2Parents[1].icdId }"
						ng-click="clickItem(icd10Class1)" title="{{icd10Class1.icd10Childs.length}}">
							{{icd10Class1.icdCode }}, {{icd10Class1.icdName}}
						</span>
						<ul ng-if="icd10Class1.icd10Childs && icd10Class1.collapse">
							<li ng-repeat="icd10Class2 in icd10Class1.icd10Childs">
								<span ng-if="!icd10Class2.collapse" class="glyphicon glyphicon-{{iconsTreeClose}}"></span>
								<span ng-if="icd10Class2.collapse" class="glyphicon glyphicon-{{iconsTreeOpen}}"></span>
								<span class="record" ng-class="{'record-highlight': icd10Class2.icdId == icd10Selected.icdId
								, 'record-highlight-parent': icd10Class2.icdId == icd10Pfad2Parents[2].icdId }"
								ng-click="clickItem(icd10Class2)" title="{{icd10Class2.icd10Childs.length}}">
									{{icd10Class2.icdCode }}, {{icd10Class2.icdName}}
								</span>
								<ul ng-if="icd10Class2.icd10Childs && icd10Class2.collapse">
									<li ng-repeat="icd10Class3 in icd10Class2.icd10Childs" >
										<span ng-if="icd10Class3.icdRightKey - icd10Class3.icdLeftKey == 1"
												class="glyphicon glyphicon-minus"
											>
										</span>
										<span ng-if="icd10Class3.icdRightKey - icd10Class3.icdLeftKey > 1">
											<span ng-if="!icd10Class3.collapse" class="glyphicon glyphicon-{{iconsTreeClose}}"></span>
											<span ng-if="icd10Class3.collapse" class="glyphicon glyphicon-{{iconsTreeOpen}}"></span>
										</span>
										<span class="record" ng-class="{'record-highlight': icd10Class3.icdId == icd10Selected.icdId
										, 'record-highlight-parent': icd10Class3.icdId == icd10Pfad2Parents[3].icdId }"
										ng-click="clickItem(icd10Class3)" title="{{icd10Class3.icd10Childs.length}}">
											{{icd10Class3.icdCode }}, {{icd10Class3.icdName}}
										</span>
										<ul ng-if="icd10Class3.icd10Childs && icd10Class3.collapse">
											<li ng-repeat="icd10Class4 in icd10Class3.icd10Childs">
												<span ng-if="icd10Class4.icdRightKey - icd10Class4.icdLeftKey == 1"
													class="glyphicon glyphicon-minus"
												>
												</span>
												<span ng-if="icd10Class4.icdRightKey - icd10Class4.icdLeftKey > 1">
													<span ng-if="!icd10Class4.collapse" class="glyphicon glyphicon-{{iconsTreeClose}}"></span>
													<span ng-if="icd10Class4.collapse" class="glyphicon glyphicon-{{iconsTreeOpen}}"></span>
												</span>
												<span class="record" ng-class="{'record-highlight': icd10Class4.icdId == icd10Selected.icdId
												, 'record-highlight-parent': icd10Class4.icdId == icd10Pfad2Parents[4].icdId }"
												ng-click="clickItem(icd10Class4)" title="{{icd10Class4.icd10Childs.length}}">
													{{icd10Class4.icdCode }}, {{icd10Class4.icdName}}
												</span>
												<ul ng-if="icd10Class4.icd10Childs && icd10Class4.collapse">
													<li ng-repeat="icd10Class5 in icd10Class4.icd10Childs">
														<span ng-if="icd10Class5.icdRightKey - icd10Class5.icdLeftKey == 1"
															class="glyphicon glyphicon-minus"
														>
														</span>
														<span ng-if="icd10Class5.icdRightKey - icd10Class5.icdLeftKey > 1">
															<span ng-if="!icd10Class5.collapse" class="glyphicon glyphicon-{{iconsTreeClose}}"></span>
															<span ng-if="icd10Class5.collapse" class="glyphicon glyphicon-{{iconsTreeOpen}}"></span>
														</span>
														<span class="record" ng-class="{'record-highlight': icd10Class5.icdId == icd10Selected.icdId
														, 'record-highlight-parent': icd10Class5.icdId == icd10Pfad2Parents[5].icdId }"
														ng-click="clickItem(icd10Class5)" title="{{icd10Class5.icd10Childs.length}}">
															{{icd10Class5.icdCode }}, {{icd10Class5.icdName}}
														</span>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				
				</div>
				
		
				
				</div>
			</div>
		</div>
	
	
		
	</div>
	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="/db/icd10uaGroups.json.js"></script>
	<script type="text/javascript">
	var app = angular.module('cuwyApp', ['ui.bootstrap']);

	app.controller('cuwyAppCtrl', [ '$scope', '$http',function ($scope, $http) {
		$scope.patientEditing = {
			historyDiagnos: ""
		}
		$scope.collapseDiagnoseTreeFilter = true;
		$scope.changeTreeFilterView = true;
		$scope.openIcd10FilterDialog = function(){
			console.log("----openIcd10FilterDialog--------"+$scope.collapseDiagnoseTreeFilter);
			$scope.collapseDiagnoseTreeFilter = false;
			$scope.changeTreeFilterView = true;
		}
		$scope.openIcd10TreeDialog = function(){
			$scope.collapseDiagnoseTreeFilter = !$scope.collapseDiagnoseTreeFilter;
			$scope.changeTreeFilterView = false;
		}
	}]);

	app.controller('icd10Ctrl', [ '$scope', '$http',function ($scope, $http) {
		//$scope.iconsTreeClose = "chevron-right";
		//$scope.iconsTreeOpen = "chevron-down";
		//$scope.iconsTreeClose = "plus";
		//$scope.iconsTreeOpen = "minus";
		$scope.iconsTreeClose = "folder-close";
		$scope.iconsTreeOpen = "folder-open";
		$scope.focusDeepIndex = 0;
		$scope.icd10Pfad2Parents = [];

		$scope.icd10Root = icd10uaGroups;
		console.log($scope.icd10Root);
		$scope.icd10Pfad2Parents[0] = $scope.icd10Root;
		$scope.icd10Selected = $scope.icd10Root.icd10Childs[0];

		$scope.setChangeTreeFilterView = function(){
			$scope.changeTreeFilterView = !$scope.changeTreeFilterView;
		}

		highlightSelect = function(icd10Class, fDeepIndex) {
			if(icd10Class.icdId == $scope.icd10Selected.icdId){
				$scope.focusDeepIndex = fDeepIndex - 1;
				if(!icd10Class.icd10Childs && $scope.icd10Selected.icd10Childs){
					var indexOfIcd10Selected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs.indexOf(icd10Class);
					$scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs[indexOfIcd10Selected] = $scope.icd10Selected;
				}
			}else
			if(icd10Class.icdStart <= $scope.icd10Selected.icdStart && icd10Class.icdEnd >= $scope.icd10Selected.icdEnd){
				$scope.icd10Pfad2Parents[fDeepIndex] = icd10Class;
			}
		}

		$scope.clickItem = function(icd10Class) {
			console.log("======clickItem=======");
			var icd10SelectedOld = $scope.icd10Selected;
			$scope.icd10Selected = icd10Class;
			icd10Class.collapse = !icd10Class.collapse;
			$($scope.icd10Root.icd10Childs).each(function () {
				highlightSelect(this, 1);
				$(this.icd10Childs).each(function () {
					highlightSelect(this, 2);
					$(this.icd10Childs).each(function () {
						highlightSelect(this, 3);
						$(this.icd10Childs).each(function () {
							highlightSelect(this, 4);
							$(this.icd10Childs).each(function () {
								highlightSelect(this, 5);
							});
						});
					});
				});
			});
		}

		console.log("cuwyAppCtrl");

		var KeyCodes = {
			BACKSPACE : 8,
			TABKEY : 9,
			RETURNKEY : 13,
			ESCAPE : 27,
			SPACEBAR : 32,
			LEFTARROW : 37,
			UPARROW : 38,
			RIGHTARROW : 39,
			DOWNARROW : 40,
		};

		$scope.keys = [];
		$scope.keys.push({
			code : KeyCodes.RETURNKEY,
			action : function() {
				console.log("code: RETURNKEY");
				$scope.patientEditing.historyDiagnos = $scope.icd10Selected.icdName;
			}
		});

		$scope.keys.push({
			code : KeyCodes.LEFTARROW,
			action : function() {
				if($scope.focusDeepIndex != 0){
					$scope.icd10Selected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex];
					$scope.icd10Pfad2Parents[$scope.focusDeepIndex] = null;
					$scope.focusDeepIndex--;
					$scope.icd10Selected.collapse = false;
				}
				console.log("LEFTARROW " + $scope.focusDeepIndex);
			}
		});
		$scope.keys.push({
			code : KeyCodes.RIGHTARROW,
			action : function() {
				console.log("RIGHTARROW " + $scope.focusDeepIndex);
				if(!$scope.icd10Selected.icd10Childs){
					$http({ 
						method : "POST"
						, data : $scope.icd10Selected
						, url : "/readIcd10Childs"
					}).success(function(data, status, headers, config) {
						$scope.icd10Selected = data;
						openChild();
					}).error(function(data, status, headers, config) {
					});
				}else{
					openChild();
				}
			}
		});

		openChild = function(){
			console.log("======openChild=======");
			if($scope.icd10Selected.icd10Childs){
				console.log("go deep " + $scope.focusDeepIndex);
				if($scope.focusDeepIndex <= 5){
					$scope.clickItem($scope.icd10Selected);
					console.log("=============");
					$scope.icd10Selected.collapse = true;
					$scope.focusDeepIndex++;
					$scope.icd10Pfad2Parents[$scope.focusDeepIndex] = $scope.icd10Selected;
					$scope.icd10Selected = $scope.icd10Selected.icd10Childs[0];
				}
			}
		}

		$scope.keys.push({
			code : KeyCodes.UPARROW,
			action : function() {
				console.log(" UPARROW ");
				var indexSelected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs.indexOf($scope.icd10Selected);
				if(indexSelected > 0)
					$scope.icd10Selected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs[indexSelected - 1];
				else
					$scope.icd10Selected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs[$scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs.length - 1];
			}
		});
		$scope.keys.push({
			code : KeyCodes.DOWNARROW,
			action : function() {
				console.log(" DOWNARROW ");
				var indexSelected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs.indexOf($scope.icd10Selected);
				if($scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs.length - indexSelected == 1)
					$scope.icd10Selected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs[0];
				else
					$scope.icd10Selected = $scope.icd10Pfad2Parents[$scope.focusDeepIndex].icd10Childs[indexSelected + 1];
			}
		});

		$scope.$on('keydown', function(msg, obj) {
			var code = obj.code;
			$scope.keys.forEach(function(o) {
				if (o.code !== code) {
					return;
				}
				o.action();
				$scope.$apply();
			});
		});

	}]);

	app.directive('keyTrap', function() {
		return function(scope, elem) {
			elem.bind('keydown', function(event) {
				scope.$broadcast('keydown', {
					code : event.keyCode
				});
			});
		};
	});
	</script>
</body>

</html>
