<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="ListeComplicationCtrl">
<head>
	<title>{{title}}</title>
	<div th:replace="hol1 :: header" />
</head>
<body>
	<!-- 
	<nav th:replace="hol1 :: navbar-top" />
 -->
	<nav th:replace="hol1 :: navbar-top-admin" />
	<div class="navbar-right"> 
		<small>
			<a href="http://localhost/complication"> 
			<span class="glyphicon glyphicon-link"></span> HOL1 </a>
		</small>
	</div>
	<div class="container">
		<div th:replace="hol1 :: hol-print-head"/>
		<div class="row">
			<div class="col-xs-11">
			<div class="input-group">
				<span class="input-group-addon">Пошук:</span>
				<input ng-model="query" type="text" class="form-control" 
				placeholder="Перші букви/цифри пошуку" auto-focus=""
				ng-change="queryChange()"
				/>
			</div>
			<small class="navbar-right">Всього <b> {{complicationListe.length}} 
				<span ng-if="query">/ {{filterComplicationListe().length}}</span>
			</b></small>
			<table class="table table-striped">
				<caption>
					<h4>{{title}}</h4>
				</caption>
				<thead>
					<tr><th>Код</th><th>Назва</th></tr>
				</thead>
				<tbody>
					<tr ng-repeat="complication in complicationListe | filter:query">
						<td>
						{{complication.operation_complication_id}}
						</td>
						<td>
						{{complication.operation_complication_name}}
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<div th:replace="hol1 :: js-lib" />
	<script type="text/javascript">
	
	cuwyApp.controller('ListeComplicationCtrl', [ '$scope', '$http', '$filter', function ($scope, $http, $filter) {
		$scope.title = "Список післяопераційних ускладнень";

		$scope.filterComplicationListe = function(){
			return $filter('filter')($scope.complicationListe, $scope.query)
		}

		$http({
			method : 'GET',
			url : '/hol/operation-complication'
		}).success(function(data, status, headers, config) {
			$scope.complicationListe = data;
		}).error(function(data, status, headers, config) {
		});

	} ] );
	</script>
</body>
</html>