<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="AdmissionPatientCtrl">
<head>
	<title>{{title}}</title>
	<div th:replace="hol1 :: header" />
</head>
<body key-trap="">
	<nav th:replace="hol1 :: navbar-top" />
	<div ng-if="!parameters.hno" class="navbar-right"> 
	<small>
	<a href="http://localhost/department/19"> 
	<span class="glyphicon glyphicon-link"></span>
	HOL1 </a> 
	</small>
	</div>
	<div ng-if="parameters.hno" class="navbar-right">
		<small>
			<a href="http://localhost/history/inedit/id/{{patientHistory.historyId}}"> 
			<span class="glyphicon glyphicon-link"></span>
			HOL1 </a> 
		</small>
	</div>
	<form name="newPatientForm" role="form">
	<div class="container">
			<h4>{{title}} № {{patientHistory.historyNo}}</h4>
			<hr/>
			<div>
			<fieldset><legend>Особиста інформація</legend>
			<div class="row">
			<div class="col-xs-3">
				<div class="form-group has-success has-feedback required">
					<label class="control-label sr-only" for="patientSurname"></label>
					<input type="text" class="form-control input-sm" placeholder="Прізвище" auto-focus=""
					id="patientSurname" name="patientSurname" 
					ng-model="patientHistory.patientHolDb.patientSurname" required=""
					ng-blur="validField2(newPatientForm.patientSurname)"
					ng-change="validField2(newPatientForm.patientSurname)"
					tooltip-html-unsafe="Прізвище &lt;b class='required-tooltip'>*&lt;/b>" />
					<span class="glyphicon form-control-feedback"></span>
					<span class="control-label ng-hide" ng-show="validateForm.patientSurname.fieldHasError" >
					Прізвище є обов'язковим і не може бути порожнім!</span>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group has-success has-feedback required">
					<label class="control-label sr-only" for="patientPersonalName"></label>
					<input type="text" class="form-control input-sm" placeholder="Ім’я" 
					id="patientPersonalName" name="patientPersonalName" ng-model="patientHistory.patientHolDb.patientPersonalName" 
					required="" ng-minlength="2" ng-maxlength="10"
					ng-blur="validField2(newPatientForm.patientPersonalName)"
					ng-change="validField2(newPatientForm.patientPersonalName)"
					tooltip-html-unsafe="Ім’я &lt;b class='required-tooltip'>*&lt;/b>" />
					<span class="glyphicon form-control-feedback"></span>
					<span class="control-label" ng-show="newPatientForm.patientPersonalName.$error['minlength']">
					Занадто коротке?!</span>
					<span class="control-label" ng-show="newPatientForm.patientPersonalName.$error['maxlength']">
					Занадто довге?!</span>
					<!-- 
					<span class="control-label" ng-show="showValidPatientPersonalName || isLastNameValid(newPatientForm.patientPersonalName)">
					 -->
					<span class="control-label" ng-show="validateForm.patientPersonalName.fieldHasError">
					Ім’я є обов'язковим і не може бути порожнім!</span>
				</div>
				<div class="form-group-xs has-success has-feedback required-simple"
				tooltip-html-unsafe="Стать &lt;b class='required-tooltip'>*&lt;/b>"
				>
					<label class="radio-inline"> 
						<input type="radio" name="patientGender" ng-model="patientHistory.patientHolDb.patientGender" value="1"/>
						Чол
					</label>
					<label class="radio-inline"> 
						<input type="radio" name="patientGender" ng-model="patientHistory.patientHolDb.patientGender" value="0"/>
						Жін
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group has-success has-feedback required">
					<label class="control-label sr-only" for="patientPatronymic"></label>
					<input type="text" class="form-control input-sm" placeholder="По батькові" 
					id="patientPatronymic" name="patientPatronymic" ng-model="patientHistory.patientHolDb.patientPatronymic" required=""
					ng-blur="validField2(newPatientForm.patientPatronymic)"
					ng-change="validField2(newPatientForm.patientPatronymic)"
					tooltip-html-unsafe="По батькові &lt;b class='required-tooltip'>*&lt;/b>"
					/>
					<span class="glyphicon form-control-feedback"></span>
					<span class="control-label" ng-show="validateForm.patientPatronymic.fieldHasError">
					По батькові є обов'язковим і не може бути порожнім!</span>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group-xs has-success has-feedback required"
					title="Дата народження *"
				>
					<label class="control-label sr-only" for="patientDob"></label>
					<input id="patientDob" name="patientDob" 
					ng-model="patientHistory.patientHolDb.patientDob" required=""
					class="form-control input-sm" type="text" placeholder="д.н. (дд-мм-рррр)"
					ng-click="open($event)"
					ng-change="validField2(newPatientForm.patientDob)"
					ng-blur="validField2(newPatientForm.patientDob)"
					datepicker-popup="dd-MM-yyyy" is-open="opened"
					datepicker-options="dateOptions" ng-required="true"
					/>
					<span class="glyphicon form-control-feedback"></span>
					<span class="control-label" ng-show="validateForm.patientDob.fieldHasError">
					Дата народження є обов'язковим і не може бути порожнім!</span>
				<!-- 
				<div class="input-group">
					<div class="input-group-addon">д.н.</div>
					<input id="patientDob" name="patientDob" 
					ng-model="patientHistory.patientHolDb.patientDob" required=""
					class="form-control input-sm" type="text" placeholder="дд-мм-рррр"
					ng-click="open($event)"
					ng-change="validField2(newPatientForm.patientDob)"
					ng-blur="validField2(newPatientForm.patientDob)"
					datepicker-popup="dd-MM-yyyy" is-open="opened"
					datepicker-options="dateOptions" ng-required="true"
					/>
				</div>
				<span class="control-label" ng-show="validateForm.patientDob.fieldHasError">
				По батькові є обов'язковим і не може бути порожнім!</span>
				 -->
				</div>
			</div>
			</div>
			<div class="row">
			<div class="col-xs-1">Країна: </div>
			<div class="col-xs-6">
				<a ng-click="openCountryFormGroup()">{{patientEditing.country}} {{!patientEditing.country?"?...":""}} </a>
			<div class="row" collapse="patientEditing.countryCollapsed" >
			<div class="col-xs-6">
				<div class="form-group-xs has-success has-feedback required" title="Країна" >
					<label class="control-label sr-only" for="country"></label>
					<input type="text" class="form-control input-sm" placeholder="Країна"
					id="country" name="country" ng-model="patientEditing.country" required=""
					/>
					<span class="glyphicon form-control-feedback"></span>
					<span class="control-label" ng-show="isNoCountryInDb()">
					Назва країни "{{patientEditing.country}}" не присутня в Базі Данних?!</span>
					<span class="control-label" ng-show="isRequired(newPatientForm.country)">
					Країна є обов'язковим і не може бути порожнім!</span>
				</div>
			</div>
			<div class="col-xs-1">
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<div class="dropdown-menu" role="menu">
					<table>
						<tr>
							<td>
								<ul>
									<li ng-repeat="country in addresses" ng-if="addresses.length/2 >= $index">
										<a ng-click="setCountry(country)">{{country.countryName}}</a>
									</li>
								</ul>
							</td>
							<td>
								<ul>
									<li ng-repeat="country in addresses" ng-if="$index > addresses.length/2">
										<a ng-click="setCountry(country)">{{country.countryName}}</a>
									</li>
								</ul>
							</td>
						</tr>
					</table>
					</div>
				</div>
			</div>
			</div>
			</div>
			</div>

			<div class="row">
			<div class="col-xs-1">Область:</div>
			<div class="col-xs-3">
				<div class="form-group has-success has-feedback required">
					<label class="control-label sr-only" for="district">Область</label>
					<input type="text" class="form-control input-sm" placeholder="Область" 
					id="district" name="district" ng-model="patientEditing.district" required=""
					ng-blur="validField2(newPatientForm.district)"
					tooltip-html-unsafe="Область &lt;b class='required-tooltip'>*&lt;/b>"
					/>
					<span class="glyphicon form-control-feedback"></span>
					<span class="control-label ng-hide" ng-show="validateForm.district.fieldHasError" >
					Область є обов'язковим і не може бути порожнім!</span>
				</div>
				<div collapse="supportDistrictField()">
					<b>Пошук області</b>:
					<ul>
						<li ng-repeat="district in districts | filter:patientEditing.district">
							<a ng-click="setDistrict(district)">{{district.districtName}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-1">
			<div class="btn-group">
				<button ng-click="getCountryDistricts()" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<div class="dropdown-menu" role="menu">
					<table>
						<tr>
							<td>
								<ul>
									<li ng-repeat="district in districts"
										ng-if="districts.length/3 >= $index"><a
										ng-click="setDistrict(district)">{{district.districtName}}</a>
									</li>
								</ul>
							</td>
							<td>
								<ul>
									<li ng-repeat="district in districts"
										ng-if="isDistrict2of3($index, districts)"><a
										ng-click="setDistrict(district)">{{district.districtName}}</a>
									</li>
								</ul>
							</td>
							<td>
								<ul>
									<li ng-repeat="district in districts"
										ng-if="$index > districts.length/3*2"><a
										ng-click="setDistrict(district)">{{district.districtName}}</a>
									</li>
								</ul>
							</td>
						</tr>
					</table>
					{{districts.length}}ng-controlle
				</div>
							</div>
			</div>
			<div class="col-xs-1 text-right">Район:</div>
			<div class="col-xs-3">
				<div class="form-group has-success has-feedback required">
					<label class="control-label sr-only" for="region"></label>
					<input type="text" class="form-control input-sm" placeholder="Район" 
					id="region" name="region" ng-model="patientEditing.region" required=""
					ng-change="supportRegionField()"
					ng-blur="validField2(newPatientForm.region)"
					tooltip-html-unsafe="Район &lt;b class='required-tooltip'>*&lt;/b>"
					/>
					<span class="glyphicon form-control-feedback"></span>
					<span class="control-label ng-hide" ng-show="validateForm.region.fieldHasError" >
					Район є обов'язковим і не може бути порожнім!</span>
				</div>
				<div collapse="collapseRegionListe">
					<b>Пошук району</b>:
					<ul>
						<li ng-repeat="region in regions | filter:patientEditing.region">
							<a ng-click="setRegion(region)">{{region.regionName}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-1">
			<div class="btn-group">
				<button ng-click="getDistrictRegions()" type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<div class="dropdown-menu dropdown-menu-right" role="menu">
									<table>
										<tr>
											<td>
												<ul>
													<li ng-repeat="region in regions"
														ng-if="$index &lt; regions.length/4"><a
														ng-click="setRegion(region)">{{region.regionName}}</a></li>
												</ul>
											</td>
											<td>
												<ul>
													<li ng-repeat="region in regions"
														ng-if="isRegion2of4($index, regions)"><a
														ng-click="setRegion(region)">{{region.regionName}}</a></li>
												</ul>
											</td>
											<td>
												<ul>
													<li ng-repeat="region in regions"
														ng-if="isRegion3of4($index, regions)"><a
														ng-click="setRegion(region)">{{region.regionName}}</a></li>
												</ul>
											</td>
											<td>
												<ul>
													<li ng-repeat="region in regions"
														ng-if="$index > regions.length/4*3"><a
														ng-click="setRegion(region)">{{region.regionName}}</a></li>
												</ul>
											</td>
										</tr>
									</table>
									{{regions.length}}
				</div>
			</div>
			</div>
			</div>
			<div class="row">
			<div class="col-xs-1">
				<div class="form-group-xs has-success has-feedback required"
				tooltip-html-unsafe="Місто/Село &lt;b class='required-tooltip'>*&lt;/b>"
				>
					<label class="radio"> 
						<input type="radio" name="localityType" ng-model="patientEditing.localityType" value="1"/>
						місто
					</label>
					<label class="radio"> 
						<input type="radio" name="localityType" ng-model="patientEditing.localityType" value="0"/>
						село
					</label>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group has-success has-feedback required">
					<label class="control-label sr-only" for="localityName"></label>
					<input type="text" class="form-control input-sm" placeholder="місто/село" 
					id="localityName" name="localityName" ng-model="patientEditing.localityName" required=""
					ng-change="supportLocalityField()"
					ng-blur="validField2(newPatientForm.localityName)"
					tooltip-html-unsafe="Населений пункт &lt;b class='required-tooltip'>*&lt;/b>"
					/>
					<!--
					ng-focus="setLocalityRegion()"
					-->
					<span class="glyphicon form-control-feedback"></span>
					<span class="control-label ng-hide" ng-show="validateForm.localityName.fieldHasError" >
					Населений пункт є обов'язковим і не може бути порожнім!</span>
				</div>
				<div collapse="collapseLocalityField">
					<b>Пошук міста/села</b>:
					<ul>
						<li ng-repeat="locality in localityRegion | filter:patientEditing.localityName ">
							<span ng-if="1 == locality.locality_type">м.</span>
							<span ng-if="0 == locality.locality_type">c.</span>
							<a ng-click="setLocality(locality)">{{locality.locality_name}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group has-feedback">
					<div class="input-group">
						<span class="input-group-addon">Вулиця</span>
						<input type="text" class="form-control input-sm" placeholder="вулиця" 
						id="patientStreet" name="patientStreet" ng-model="patientHistory.patientHolDb.patientStreet"
						/>
					</div>
					<label class="control-label sr-only" for="patientStreet"></label>
					<span class="glyphicon form-control-feedback"></span>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="input-group input-group-sm">
					<span class="input-group-addon">Будинок</span>
					<input type="text" class="form-control input-sm" placeholder="бд." 
					id="patientHouse" name="patientHouse" ng-model="patientHistory.patientHolDb.patientHouse"/>
				</div>
				<div class="input-group input-group-sm">
					<span class="input-group-addon">Квартира</span>
				<input type="text" class="form-control input-sm" placeholder="кв." 
				id="patientFlat" name="patientFlat" ng-model="patientHistory.patientHolDb.patientFlat"
				/>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="input-group input-group-sm">
					<span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
					<input type="text" class="form-control input-sm" placeholder="домашній" 
					id="patientPhoneHome" name="patientPhoneHome" ng-model="patientHistory.patientHolDb.patientPhoneHome"
					/>
				</div>
				<div class="input-group input-group-sm">
					<span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
					<input type="text" class="form-control input-sm" placeholder="мобільний" 
					id="patientPhoneMobil" name="patientPhoneMobil" ng-model="patientHistory.patientHolDb.patientPhoneMobil"
					/>
				</div>
			</div>
			</div>
			<div class="row">
			<div class="col-xs-4">
			<div class="form-group has-feedback required">
					<label class="control-label" for="patientJob">Місце роботи:</label>
					<input type="text" class="form-control input-sm" placeholder="Місце роботи" 
					id="patientJob" name="patientJob" ng-model="patientHistory.patientHolDb.patientJob" required=""
					ng-blur="validField2(newPatientForm.patientJob)"
					tooltip-html-unsafe="Місце роботи &lt;b class='required-tooltip'>*&lt;/b>"
					/>
					<span class="glyphicon form-control-feedback"></span>
					<span class="control-label ng-hide" ng-show="validateForm.patientJob.fieldHasError">
					Місце роботи є обов'язковим і не може бути порожнім!</span>
				</div>
			</div>
			<div class="col-xs-4">
			<div class="form-group">
					<label class="control-label" for="patientJob">Пільги:</label>
				<div class="input-group input-group-sm">
					<input type="text" class="form-control input-sm" placeholder="Пільги" 
					id="pilgy" name="pilgy" ng-model="patientEditing.pilgy" required=""
					/>
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle"
							data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li><a href="#"
							ng-click="patientEditing.pilgy='Чорнобилець І категорії'"
							>Чорнобилець І категорії</a></li>
							<li><a href="#"
							ng-click="patientEditing.pilgy='Чорнобилець ІІ категорії'"
							>Чорнобилець ІІ категорії</a></li>
							<li><a href="#"
							ng-click="patientEditing.pilgy='Чорнобилець ІІІ категорії'"
							>Чорнобилець ІІІ категорії</a></li>
							<li><a href="#"
							ng-click="patientEditing.pilgy='Чорнобилець ІV категорії'"
							>Чорнобилець ІV категорії</a></li>
							<li class="divider"></li>
							<li><a href="#"
							ng-click="patientEditing.pilgy='Інвалід І групи'"
							>Інвалід І групи</a></li>
							<li><a href="#"
							ng-click="patientEditing.pilgy='Інвалід ІІ групи'"
							>Інвалід ІІ групи</a></li>
							<li><a href="#"
							ng-click="patientEditing.pilgy='Інвалід ІІІ групи'"
							>Інвалід ІІІ групи</a></li>
							<li><a href="#"
							ng-click="patientEditing.pilgy='Інвалід ІV групи'"
							>Інвалід ІV групи</a></li>
						</ul>
					</div>
				</div>
			</div>
			</div>
			<div class="col-xs-3">
				<label class="checkbox-inline" >
				<input type="checkbox" name="patientArmy" ng-model="patientEditing.patientArmy"/>
				Призовник
				</label> 
			</div>
			</div>
			</fieldset>
			<fieldset><legend>ПОСТУПЛЕННЯ В СТАЦІОНАР</legend>
			<div class="row">
				<div class="col-xs-5">
					<div class="form-group has-success has-feedback required">
						<label class="control-label sr-only" for="direct">Направляючий заклад</label>
						<input type="text" class="form-control input-sm" placeholder="Направляючий заклад" 
						id="direct" name="direct" ng-model="patientEditing.direct" required=""
						ng-change="supportDirectField()"
						tooltip-html-unsafe="Направляючий заклад &lt;b class='required-tooltip'>*&lt;/b>"
						/>
						<span class="glyphicon form-control-feedback"></span>
						<span class="control-label" ng-show="isRequired(newPatientForm.direct)">
						Направляючий заклад є обов'язковим і не може бути порожнім!</span>
					</div>
					<div collapse="collapseDirectListe" class="well">
					<b>Пошук направляючого закладу</b>:
					<ul>
						<li ng-repeat="direct in directs | filter:patientEditing.direct">
							<a ng-click="writeDirect(direct)">{{direct.direct_name}}</a>
						</li>
					</ul>
					</div>
				</div>
				<div class="col-xs-1">
					<button class="btn btn-default btn-sm" type="button" ng-click="collapseDirectListe = !collapseDirectListe">
						<span class="caret"></span>
					</button>
				</div>
				
				<div th:replace="hol1 :: departmentChoiceDialog" />
				
			</div>
			<div class="row">
				<div class="col-xs-1">Діагноз:</div>
				<div class="col-xs-5">
					<div class="form-group has-success has-feedback required">
						<label class="control-label sr-only" for="direct">Діагноз</label>
						<input type="text" class="form-control input-sm" placeholder="Діагноз МКБ" 
						id="historyDiagnos" name="historyDiagnos" ng-model="patientEditing.historyDiagnos" required=""
						ng-change="openIcd10FilterDialog()"
						ng-blur="validField2(newPatientForm.historyDiagnos)"
						tooltip-html-unsafe="Діагноз &lt;b class='required-tooltip'>*&lt;/b>"
						/>
						<span class="glyphicon form-control-feedback"></span>
						<span class="control-label ng-hide" ng-show="validateForm.historyDiagnos.fieldHasError" >
						Діагноз є обов'язковим і не може бути порожнім!</span>
					</div>
				</div>
				<div class="col-xs-1">
					<button class="btn btn-default btn-sm" 
						ng-blur="validField2(newPatientForm.historyDiagnos)"
					ng-click="openIcd10TreeDialog()">
						<span class="glyphicon glyphicon-th-list"></span>
						<span class="caret"></span>
					</button>
				</div>
				<div class="col-xs-5">
					<div class="form-group has-feedback ">
						<label class="control-label sr-only" for="direct">Діагноз додаток</label>
						<input type="text" class="form-control input-sm" placeholder="Діагноз додаток" 
						id="historyDiagnosAdditional" name="historyDiagnosAdditional" ng-model="patientEditing.historyDiagnosAdditional"
						ng-change="changeDiagnoseAdditional()"
						tooltip-html-unsafe="Діагноз  додаток &lt;b class='required-tooltip'>*&lt;/b>"
						/>
						<span class="glyphicon form-control-feedback"></span>
						<span class="control-label" ng-show="isRequired(newPatientForm.historyDiagnosAdditional)">
						Діагноз додаток є обов'язковим і не може бути порожнім!</span>
					</div>
				</div>
			</div>
			<div th:replace="hol1 :: icd10ChoiceDialog" />
			<div class="row">
				<div class="col-xs-3">Стан при госпіталізації</div>
				<div class="col-xs-4">
					<div class="form-group has-success has-feedback required">
						<label class="control-label sr-only" for="direct">Направляючий заклад</label>
						<input type="text" class="form-control input-sm" placeholder="Стан при госпіталізації" 
						id="stan" name="stan" ng-model="patientEditing.stan" required=""
						tooltip-html-unsafe="Стан при госпіталізації &lt;b class='required-tooltip'>*&lt;/b>"
						/>
						<span class="glyphicon form-control-feedback"></span>
						<span class="control-label" ng-show="isRequired(newPatientForm.stan)">
						Стан при госпіталізації є обов'язковим і не може бути порожнім!</span>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group-xs has-success has-feedback required-simple"
					tooltip-html-unsafe="Ургентно / Планово &lt;b class='required-tooltip'>*&lt;/b>"
					>
						<label class="radio-inline">
							<input type="radio" name="historyUrgent" ng-model="patientHistory.historyUrgent" value="0"/>
							Ургентно
						</label>
						<label class="radio-inline">
							<input type="radio" name="historyUrgent" ng-model="patientHistory.historyUrgent" value="1"/>
							Планово
						</label>
					</div>
				</div>
			</div>
			</fieldset>
			<fieldset><legend>Медична інформація</legend>
				<div class="row">
					<div class="col-xs-2">
						<div>Група крові</div>
						<select ng-model="patientHistory.patientHolDb.patientBlood">
							<option value="I">I(O)</option>
							<option value="II">II(A)</option>
							<option value="III">III(B)</option>
							<option value="IV">IV(AB)</option>
						</select>
						<div>
						Rh(
						<select ng-model="patientHistory.patientHolDb.patientRh2">
							<option value="1">+</option>
							<option value="0">-</option>
						</select>
						)
						</div>
					</div>
					<div class="col-xs-1">
						<table>
							<tr><th></th><th>+</th><th>-</th><th>?</th></tr>
							<tr><td>Bj</td><td>
							<input type="radio" name="patientBj" ng-model="patientHistory.patientHolDb.patientBj" value="1"/>
							</td><td>
							<input type="radio" name="patientBj" ng-model="patientHistory.patientHolDb.patientBj" value="0"/>
							</td><td>
							<input type="radio" name="patientBj" ng-model="patientHistory.patientHolDb.patientBj" value=""/>
							</td></tr>
							<tr><td>Sc</td><td>
							<input type="radio" name="patientSc" ng-model="patientHistory.patientHolDb.patientSc" value="1"/>
							</td><td>
							<input type="radio" name="patientSc" ng-model="patientHistory.patientHolDb.patientSc" value="0"/>
							</td><td>
							<input type="radio" name="patientSc" ng-model="patientHistory.patientHolDb.patientSc" value="2"/>
							</td></tr>
							<tr><td>Tbc</td><td>
							<input type="radio" name="patientTbc" ng-model="patientHistory.patientHolDb.patientTbc" value="1"/>
							</td><td>
							<input type="radio" name="patientTbc" ng-model="patientHistory.patientHolDb.patientTbc" value="0"/>
							</td><td>
							<input type="radio" name="patientTbc" ng-model="patientHistory.patientHolDb.patientTbc" value="2"/>
							</td></tr>
							<tr><td>T</td><td>
							<input type="radio" name="patientT" ng-model="patientHistory.patientHolDb.patientT" value="1"/>
							</td><td>
							<input type="radio" name="patientT" ng-model="patientHistory.patientHolDb.patientT" value="0"/>
							</td><td>
							<input type="radio" name="patientT" ng-model="patientHistory.patientHolDb.patientT" value="2"/>
							</td></tr>
						</table>
					</div>
					<div class="col-xs-3">
						<table>
							<tr><th></th><th>+</th><th>-</th><th>?</th></tr>
							<tr><td>Hbs</td><td>
							<input type="radio" name="patientHbs" ng-model="patientHistory.patientHolDb.patientHbs" value="1"/>
							</td><td>
							<input type="radio" name="patientHbs" ng-model="patientHistory.patientHolDb.patientHbs" value="0"/>
							</td><td>
							<input type="radio" name="patientHbs" ng-model="patientHistory.patientHolDb.patientHbs" value="2"/>
							</td></tr>
							<tr><td>ВІЛ</td><td>
							<input type="radio" name="patientHiv" ng-model="patientHistory.patientHolDb.patientHiv" value="1"/>
							</td><td>
							<input type="radio" name="patientHiv" ng-model="patientHistory.patientHolDb.patientHiv" value="0"/>
							</td><td>
							<input type="radio" name="patientHiv" ng-model="patientHistory.patientHolDb.patientHiv" value="2"/>
							</td></tr>
							<tr><td>RW</td><td>
							<input type="radio" name="patientRw" ng-model="patientHistory.patientHolDb.patientRw" value="1"/>
							</td><td>
							<input type="radio" name="patientRw" ng-model="patientHistory.patientHolDb.patientRw" value="0"/>
							</td><td>
							<input type="radio" name="patientRw" ng-model="patientHistory.patientHolDb.patientRw" value="2"/>
							</td></tr>
						</table>
					</div>
					<div class="col-xs-6">
						<div>Онкологічний профілактичний огляд</div>
						<div>Флюорографічне обстеження</div>
					</div>
				</div>
			</fieldset>
		</div>
			<br/><br/><br/><br/>
			<br/><br/><br/><br/>
			<br/><br/><br/><br/>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<button type="button" ng-click="savePatientHistory()" class="btn btn-default">
						<span class="glyphicon glyphicon-floppy-disk"></span>
						Зберегти
					</button>
					<br/><br/><br/><br/>
				</div>
				<div class="col-xs-4">
					<span ng-if="error" tooltip-html-unsafe="{{tooltipHtml()}}" >
						{{error.status}} - {{error.error}}
					</span>
				</div>
			</div>
		</div>
	</nav>
	</form>
	<div th:replace="hol1 :: js-lib" />
	<script src="/db/icd10uaGroups.json.js"></script>
	<script src="/js/admissionPatientCtrl.js"></script>
	<script src="/js/icd10Editor1Ctrl.js"></script>
</body>
</html>
