<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="AdmissionStatisticCtrl">
<head>
	<title>{{title}}</title>
	<div th:replace="hol1 :: header" />
</head>
<body>
	<nav th:replace="hol1 :: navbar-top" />
	<div class="container">
		<h4>{{title}}</h4>
		Сьогодні
		{{today | date:'dd.MM.yyyy'}},
		{{today.getWeekOfYear()}} неділя року
		<h3>Кількість пацієнтів</h3>
		
		<div class="row">
			<div class="col-xs-4">
				<button ng-click="changeCollapseQueryPanel()" class="btn btn-default">
					Сформувати запит до БД
					<span ng-if="collapseQueryPanel" class="glyphicon glyphicon-chevron-right"></span>
					<span ng-if="!collapseQueryPanel" class="glyphicon glyphicon-chevron-down"></span>
				</button>
				<!-- 
				<h3  ng-click="changeCollapseQueryPanel()" style="text-align: right;" >Сформувати запит до БД
				<small>
					<a>
						<span ng-if="collapseQueryPanel" class="glyphicon glyphicon-chevron-right"></span>
						<span ng-if="!collapseQueryPanel" class="glyphicon glyphicon-chevron-down"></span>
					</a>
				</small>
				</h3>
				 -->
			</div>
			<div class="col-xs-7">
				<ul id="patientsTab" class="nav nav-tabs">
					<li ng-click="collapseQueryPanel = false" class="active"><a href="#of_date" data-toggle="tab">По даті</a></li>
					<li ng-click="collapseQueryPanel = false"><a href="#of_data" data-toggle="tab">По даним</a></li>
				</ul>
				По даті:
				<span ng-if="!weekOfYear">?</span>
				<span ng-if="weekOfYear">
					{{weekOfYear}}
					 неділя {{year}} року
					 (
					 {{patientsAdmission.historysYearWeek[0].historyIn | date:'dd.MM.yyyy HH:mm'}}
					 -
					 {{patientsAdmission.historysYearWeek[patientsAdmission.historysYearWeek.length - 1].historyIn | date:'dd.MM.yyyy HH:mm'}}
					 )
				</span>
				По даним:
				<span ng-if="!department2query"> * </span>
				<span ng-if="department2query"> {{department2query.department_name}} </span>
				відділеня
				<hr/>
			</div>
			<div class="col-xs-1">+</div>
		</div>
		
		<div class="row well" collapse="collapseQueryPanel">
			<div class="col-md-12 tab-content" id="patientsTabContent" >
				<div class="row tab-pane fade in active" id="of_date">
					<div class="col-xs-3">
						<datepicker ng-model="dt" min-date="minDate"
						 show-weeks="true" class="well well-sm"></datepicker>
						 {{dt}}
					</div>
					<div class="col-xs-3">
						<fieldset><legend>по неділях {{today.getMonthUa(monthNr - 1 )}} {{year}}</legend>
						<table class="table table-striped">
							<thead>
								<tr><th>Кількість пацієнтів</th><th>Неділя</th></tr>
							</thead>
							<tbody>
								<tr ng-repeat="countPatientsProWeek in countPatientsProWeeks"
									class="{{countPatientsProWeek.weekNr == weekOfYear ? 'success':''}}"
									ng-click="setWeekOfYear(countPatientsProWeek.weekNr)"
								>
									<td ng-if="isMiddleWeek($index, countPatientsProWeeks)">
									{{countPatientsProWeek.weekPatientCount}}
									</td>
									<td ng-if="$index == countPatientsProWeeks.length - 1">
										{{countPatientsPro2Weeks[1].weekPatientCount}}
										<span ng-if="countPatientsProWeek.weekPatientCount != countPatientsPro2Weeks[1].weekPatientCount">
										({{countPatientsProWeek.weekPatientCount}})
										</span>
									</td>
									<td ng-if="$index == 0">
										{{countPatientsPro2Weeks[0].weekPatientCount}}
										<span ng-if="countPatientsProWeek.weekPatientCount != countPatientsPro2Weeks[0].weekPatientCount">
										({{countPatientsProWeek.weekPatientCount}})
										</span>
									</td>
									<td>{{countPatientsProWeek.weekNr}}</td>
									<td></td>
								</tr>
							</tbody>
						</table>
						</fieldset>
					</div>
					<div class="col-xs-3">
						<fieldset><legend>по місяцях {{year}} року</legend>
							<table class="table table-striped">
							<thead>
								<tr><th>Кількість пацієнтів</th><th>Місяць</th></tr>
							</thead>
							<tbody>
								<tr ng-repeat="countPatientProMonth in countPatientsProMonth"
									class="{{countPatientProMonth.monthNr == monthNr ? 'success':''}}"
									ng-click="setMonthNr(countPatientProMonth.monthNr)"
								>
									<td>
										{{countPatientProMonth.monthPatientCount}}
									</td>
									<td>{{today.getMonthUa(countPatientProMonth.monthNr-1)}}</td>
								</tr>
							</tbody>
							<thead>
								<tr>
									<td>Всього:
									{{countAllMonthsPatients()}}</td>
								</tr>
							</thead>
							</table>
						</fieldset>
					</div>
					<div class="col-xs-3">
						<fieldset><legend>по роках</legend>
							<table class="table table-striped">
							<thead>
								<tr><th>Кількість пацієнтів</th><th>Рік</th></tr>
							</thead>
							<tbody>
								<tr ng-repeat="countPatientProYear in countPatientsProYear"
									class="{{countPatientProYear.year == year ? 'success':''}}"
									ng-click="setYear(countPatientProYear.year)"
								>
									<td>{{countPatientProYear.yearPatientCount}}</td>
									<td>{{countPatientProYear.year}}</td>
								</tr>
							</tbody>
							</table>
						</fieldset>
					</div>
				</div>
				<div class="row tab-pane fade in active" id="of_data">
					<div class="col-xs-12">
					<div ng-click="setDepartmentAll()">Всі *</div>
					<table>
						<tr>
							<td style="vertical-align: top;">
						<table class="table table-striped">
							<thead>
								<tr><th>Відділення</th><th>Кількість</th></tr>
							</thead>
							<tbody>
								<tr ng-repeat="d in historysDepartment" ng-if="$index &lt; historysDepartment.length/2"
									class="{{d.department_id == department2query.department_id ? 'success':''}}"
									ng-click="setDepartment(d)"
								>
									<td>{{d.department_name}}</td><td>{{d.cnt}}</td>
								</tr>
							</tbody>
						</table>
							</td>
							<td style="vertical-align: top;">
						<table class="table table-striped">
							<thead>
								<tr><th>Відділення</th><th>Кількість</th></tr>
							</thead>
							<tbody>
								<tr ng-repeat="d in historysDepartment" ng-if="$index > historysDepartment.length/2"
									class="{{d.department_id == department2query.department_id ? 'success':''}}"
									ng-click="setDepartment(d)"
								>
									<td>{{d.department_name}}</td><td>{{d.cnt}}</td>
								</tr>
							</tbody>
						</table>
							</td>
						</tr>
					</table>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-xs-12">
			
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nr</th>
							<th>Госпіталізація хворого</th>
							<th>Прізвище, ім’я, по батькові хворого</th>
							<th>Дата народження</th>
							<th>Місце проживання хворого або місце проживання родичів, близьких, номер телефону</th>
							<th>Відділення, в яке госпіталізований хворий</th>
							<th>Номер медичної карти стаціонарного хворого або історії пологів</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="history in patientsAdmission.historysYearWeek">
							<td>{{$index + 1}}</td>
							<td>{{history.historyIn | date:'dd.MM.yyyy HH:mm'}}</td>
							<td>
							<a href="/hol/history_{{history.historyId}}">
								{{history.patientHolDb.patientSurname}}
								{{history.patientHolDb.patientPersonalName}}
								{{history.patientHolDb.patientPatronymic}}
							</a>
							</td>
							<td>{{history.patientHolDb.patientDob | date:'dd.MM.yyyy'}}</td>
							<td>
							{{history.patientHolDb.patientStreet}}
							{{history.patientHolDb.patientHouse}}
							<span ng-if="history.patientHolDb.patientFlat">
								кв.{{history.patientHolDb.patientFlat}}
							</span>
							</td>
							<td>
								<span ng-repeat="patientDepartmentMovement in history.patientDepartmentMovements">
			{{patientDepartmentMovement.departmentName}}
								</span>
							</td>
							<td>{{history.historyNo}}</td>
						</tr>
					</tbody>
				</table>
			
			</div>
		</div>
	</div>
	<div th:replace="hol1 :: js-lib" />
	<script type="text/javascript">
	cuwyApp.controller('AdmissionStatisticCtrl', [ '$scope', '$http', function ($scope, $http) {
		$scope.title = "Журнал обліку хворих";
		$scope.today = new Date();
		$scope.dt = new Date();
		console.log($scope.today.getMonthUa(1));
		$scope.year = $scope.today.getFullYear();
		console.log($scope.year);
		$scope.changeCollapseQueryPanel = function(){
			$scope.collapseQueryPanel = !$scope.collapseQueryPanel;
			return $scope.collapseQueryPanel;
		}

		$scope.isMiddleWeek = function(index, countPatientsProWeeks){
			return isMiddleWeek(index, countPatientsProWeeks);
		}
		$scope.setDepartmentAll = function(){
			$scope.department2query = null;
			httpGetWeekOfYear();
		}
		$scope.setDepartment = function(department){
			$scope.department2query = department;
			console.log(department);
			console.log(department.department_id);
			$http({
				method : 'GET',
				url : '/patients' + '_department_' + $scope.department2query.department_id 
				+ '_year_' + $scope.year + '_week_' + $scope.weekOfYear
			}).success(function(data, status, headers, config) {
				$scope.patientsAdmission = data;
			}).error(function(data, status, headers, config) {
			});
		}
		httpGetWeekOfYear = function(){
			$http({
				method : 'GET',
				url : '/patients_year_'+$scope.year+'_week_'+$scope.weekOfYear
			}).success(function(data, status, headers, config) {
				$scope.patientsAdmission = data;
			}).error(function(data, status, headers, config) {
			});
			$http({
				method : 'GET',
				url : '/patients_department_year_'+$scope.year+'_week_'+$scope.weekOfYear
			}).success(function(data, status, headers, config) {
				$scope.historysDepartment = data;
			}).error(function(data, status, headers, config) {
			});
		}
		$scope.setWeekOfYear = function(weekOfYear){
			$scope.weekOfYear = weekOfYear;
			httpGetWeekOfYear();
		}

		$scope.setMonthNr = function(monthNr){
			$scope.monthNr = monthNr;
			var mdf = new Date($scope.year, $scope.monthNr - 1, 1);
			var mdl = new Date(mdf).addMonths(1).addDays(-1);
			$scope.weekOfYearBegin = mdf.getWeekOfYear();
			$scope.weekOfYearEnd = mdl.getWeekOfYear();
			$http({
				method : 'GET',
				url : '/countPatientsProWeeks_'+$scope.year+'_'+$scope.monthNr
			}).success(function(data, status, headers, config) {
				$scope.countPatientsProWeeks = data;
				var minWeek = $scope.countPatientsProWeeks[0].weekNr;
				var maxWeek = $scope.countPatientsProWeeks[$scope.countPatientsProWeeks.length - 1].weekNr;
				$http({
					method : 'GET',
					url : '/countPatientsPro2Weeks_'+$scope.year+'_'+minWeek+'_'+maxWeek
				}).success(function(data, status, headers, config) {
					$scope.countPatientsPro2Weeks = data;
				}).error(function(data, status, headers, config) {
				});
			}).error(function(data, status, headers, config) {
			});
		}

		$scope.setYear = function(year){
			$scope.year = year;
			$scope.getCountPatientsProMonth();
		}

		$scope.countAllMonthsPatients = function(){
			var countAllMonthsPatients = 0;
			$($scope.countPatientsProMonth).each(function () {
				countAllMonthsPatients += this.monthPatientCount;
			} );
			return countAllMonthsPatients;
		}

		$http({
			method : 'GET',
			url : '/countPatientsProYear'
		}).success(function(data, status, headers, config) {
			$scope.countPatientsProYear = data;
		}).error(function(data, status, headers, config) {
		});

		$scope.getCountPatientsProMonth = function(){
			$http({
				method : 'GET',
				url : '/countPatientsProMonth_'+$scope.year
			}).success(function(data, status, headers, config) {
				$scope.countPatientsProMonth = data;
				$scope.setMonthNr($scope.countPatientsProMonth[0].monthNr);
			}).error(function(data, status, headers, config) {
			});
		}
		$scope.getCountPatientsProMonth();

	} ] );
	</script>
	
</body>
</html>
