<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="BookingCtrl">
<head>
	<meta charset=utf-8>
	<title>ХОЛ::Анестезія урологія::ЕТН ЕА - Ендотрахеальний наркоз - епідуральна анестезія</title>
	<style type="text/css">
		.row h2 { margin-top: 0px; }
		.table > tbody > tr > td { padding: 1px !important; }
		@media print {
			.breadcrumb, .no-print {
				display: none !important;
			}
		}
	</style>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<ol class="breadcrumb">
		<li><a href="/i-dev.html">Головна</a></li>
		<li><a href="/department.html">Реанімація</a></li>
		<li class="active">ЕТН ЕА - Ендотрахеальний наркоз - епідуральна анестезія</li>
	</ol>
	<h2 class="no-print">ЕТН ЕА</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-xs-6">
			<table class="table">
				<tbody>
					<tr ng-repeat="material in booking.consumptionMaterialsBooking"
						ng-context-menu="menuEditTaskList"
					>
						<td>
					{{material.name}}
					<span ng-repeat="replacementMaterial in material.replacement">
							/ {{replacementMaterial.name}}
						</span>
						</td>
						<td>
					{{material.materialType}}
						</td>
						<td>
					{{material.materialType.contains(", ")?"по":""}}
					{{material.number}}
					{{material.numberUnits}}
						</td>
					</tr>
				</tbody>
				</table>
				<table class="table">
					<tbody>
					<tr ng-repeat="drug in booking.drugsBooking"
						ng-context-menu="menuEditTaskList"
					>
						<td>
						<span tooltip="{{drug.generic}}" tooltip-popup-delay='{{tooltipPopupDelay}}'>
							{{drug.trade}}
						</span>
						<span ng-repeat="replacementDrug in drug.replacement">
							/ {{replacementDrug.trade}}
						</span>
						</td>
						<td>
					{{drug.doseConcentrationNumber==0?"":drug.doseConcentrationNumber}}
					{{drug.doseConcentrationUnit}}
					{{drug.doseNumber}}
					{{drug.doseUnit}}
						</td>
						<td>
					{{drug.number}}
					{{drug.numberUnits}}
						</td>
					</tr>
					</tbody>
				</table>
				
			</div>
			<div class="col-md-4 col-xs-5" style="border-left: 1px solid #ddd;">
				<table class="table">
				<tbody>
					<tr ng-repeat="material in booking.consumptionMaterialsBooking">
						<td>
					{{material.name}}
					<span ng-repeat="replacementMaterial in material.replacement">
							/ {{replacementMaterial.name}}
						</span>
					{{material.materialType}}
						</td>
						<td>
					{{material.materialType.contains(", ")?"по":""}}
					{{material.number}}
					{{material.numberUnits}}
						</td>
					</tr>
				</tbody>
				</table>
				<table class="table">
					<tbody>
					<tr ng-repeat="drug in booking.drugsBooking">
						<td>
						<span tooltip="{{drug.generic}}" tooltip-popup-delay='{{tooltipPopupDelay}}'>
							{{drug.trade}}
						</span>
					{{drug.doseConcentrationNumber==0?"":drug.doseConcentrationNumber}}
					{{drug.doseConcentrationUnit}}
					<span ng-repeat="replacementDrug in drug.replacement">
						/ {{replacementDrug.trade}}
					</span>
						</td>
						<td>
					{{drug.doseNumber}}
					{{drug.doseUnit}}
						</td>
						<td>
					{{drug.number}}
					{{drug.numberUnits}}
						</td>
					</tr>
					</tbody>
				</table>
				
			</div>
		</div>
		<div class="row" style="border-top: 1px solid #ddd;">
			<div class="col-md-5 col-xs-6">
				<table class="table">
					<tbody>
						<tr ng-repeat="material in booking.consumptionMaterialsBooking">
							<td>
						{{material.name}}
						<span ng-repeat="replacementMaterial in material.replacement">
								/ {{replacementMaterial.name}}
							</span>
						{{material.materialType}}
							</td>
							<td>
						{{material.materialType.contains(", ")?"по":""}}
						{{material.number}}
						{{material.numberUnits}}
							</td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<tbody>
					<tr ng-repeat="drug in booking.drugsBooking"
					ng-if="rowsBrake > $index"
					>
						<td>
						<span tooltip="{{drug.generic}}" tooltip-popup-delay='{{tooltipPopupDelay}}'>
							{{drug.trade}}
						</span>
						<span ng-repeat="replacementDrug in drug.replacement">
							/ {{replacementDrug.trade}}
						</span>
						</td>
						<td>
					{{drug.doseConcentrationNumber==0?"":drug.doseConcentrationNumber}}
					{{drug.doseConcentrationUnit}}
						</td>
						<td>
					{{drug.doseNumber}}
					{{drug.doseUnit}}
						</td>
						<td>
					{{drug.number}}
					{{drug.numberUnits}}
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-5 col-xs-6">
				<table class="table">
					<tbody>
					<tr ng-repeat="drug in booking.drugsBooking"
					ng-if="$index >= rowsBrake"
					>
						<td>
						<span tooltip="{{drug.generic}}" tooltip-popup-delay='{{tooltipPopupDelay}}'>
							{{drug.trade}}
						</span>
						<span ng-repeat="replacementDrug in drug.replacement">
							/ {{replacementDrug.trade}}
						</span>
						</td>
						<td>
					{{drug.doseConcentrationNumber==0?"":drug.doseConcentrationNumber}}
					{{drug.doseConcentrationUnit}}
						</td>
						<td>
					{{drug.doseNumber}}
					{{drug.doseUnit}}
						</td>
						<td>
					{{drug.number}}
					{{drug.numberUnits}}
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-sanitize.min.js"></script>
	<script src="/js/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="/js/cuwy1.directives.js"></script>
	<script type="text/javascript">

		cuwyApp.controller('BookingCtrl', [ '$scope', '$http', function ($scope, $http) {
			$scope.tooltipPopupDelay = 1000;//ms
			$scope.rowsBrake = 6;
			$http({
				method : "GET",
				url : "/db/url-ans-ETA-EA-ProcedureBooking.json"
			}).success(function(data, status, headers, config) {
				$scope.booking = data;
			}).error(function(data, status, headers, config) {
			});

			moveTo = function(arrayToSort, indexFrom, indexTo){
				var el = arrayToSort.splice(indexFrom, 1);
				arrayToSort.splice(indexTo, 0, el[0]);
			}

			moveUp = function(arrayToSort, index){
				moveTo(arrayToSort, index,index-1);
			}

			getArrayToSort = function($itemScope){
				var arrayToSort = $itemScope.booking.drugsBooking;
				if($itemScope.material)
					arrayToSort = $itemScope.booking.consumptionMaterialsBooking;
				return arrayToSort;
			}

			$scope.menuEditTaskList = [
				['Edit', function ($itemScope) {
					console.log('Edit');
					console.log($itemScope);
				}],
				['Add', function ($itemScope) {
					console.log('Add');
				}],
				null,
				['Up', function ($itemScope) {
					var arrayToSort = getArrayToSort($itemScope);
					var index = $itemScope.$index;
					if(index > 0){
						moveUp(arrayToSort, index);
					}else{
						moveTo(arrayToSort, 0, arrayToSort.length-1);
					}
				}],
				['Down', function ($itemScope) {
					console.log('Down');
					var index = $itemScope.$index + 1;
					var arrayToSort = getArrayToSort($itemScope);
					if(index < arrayToSort.length){
						moveUp(arrayToSort, index);
					}else{
						moveTo(arrayToSort, index-1,0);
					}
				}]
			];

		} ] );
	</script>
</body>
</html>
