<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="DepartmentCtrl">
<head>
	<title>ХОЛ::{{department.department_name}}</title>
	<div th:replace="hol1 :: header" />
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="navbar-top-admin">
	<div class="container">
		<div class="navbar-header">
			<ol class="breadcrumb">
				<li><a href="/home.html"><span class="glyphicon glyphicon-home"></span> ХОЛ</a></li>
				<li class="active">{{department.department_name}}</li>
			</ol>
		</div>
		<div class="collapse navbar-collapse navbar-right">
			<ul class="nav navbar-nav">
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown"
					title="Premium Bootstrap Themes &amp; Templates"><i
						class="fa fa-star text-yellow"></i> меню <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Рух хворих</a></li>
						<li><a href="#">
						<span class="glyphicon glyphicon-compressed"></span>
						Архів історій хвороби</a></li>
						<li class="divider"></li>
						<li><a href="/hol/operation/add-op">
							Заявка на додавання операції до словника</a></li>
						<li class="divider"></li>
						<li><a href="/hol/operation/liste-op">
						<span class="glyphicon glyphicon-file"></span>
								Список операцій</a></li>
						<li><a href="/hol/operation/liste-complication">
						<span class="glyphicon glyphicon-file"></span>
								Список післяопераційних ускладнень</a></li>
						<li class="divider"></li>
						<li><a href="#">
							<span class="glyphicon glyphicon-remove"></span>
								Закрити</a></li>
					</ul></li>
			</ul>
			<!-- 
			<ul class="nav navbar-nav list-inline">
				<li><span class="glyphicon glyphicon-remove"></span>ff</li>
			</ul>
			 -->
		</div>
	</div>
</nav>

	<h1>{{department.department_name}}</h1>
	<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>Пацієнти</h2>
		<div class="tab-pane fade in active" id="patient_seek">
			<!-- Sidebar content -->

			<div class="input-group">
				<span class="input-group-addon">Пошук:</span>
				<input ng-model="query" type="text" class="form-control" 
				placeholder="Перші букви/цифри пошуку" auto-focus=""/>
			</div>

			<ul class="patients">
				<li> <b> №, ПІБ, Поступив, Діагноз </b> </li>
				<li ng-repeat="patient in department.patientesDiagnosisHol | filter:query"
					ng-context-menu="menuPatientList"
				>
					<a href="history?hno={{patient.history_no}}">
						<span> {{patient.history_no}}</span>, {{patient.name}}
					</a>,
					<span> {{patient.history_in | date:'dd-MM-yyyy HH:mm'}} </span>,
					<span>Дз: {{patient.icd_code}}, {{patient.icd_name}}</span>
					<button ng-click="openPatientInfo(patient)" class="btn btn-default btn-xs">
						<span ng-if="patient.collapsed" class="glyphicon glyphicon-chevron-right"></span>
						<span ng-if="!patient.collapsed" class="glyphicon glyphicon-chevron-down"></span>
					</button>
					<div class="row well" collapse="patient.collapseMovePatient">
						collapseMovePatient
						<div th:replace="hol1 :: departmentChoiceDialog" />
						collapseMovePatient
					</div>
					<div collapse="patient.collapsed">
						<div class="well well-lg">
						<div ng-if="!patient.patientHistory"> Інформація считується </div>
						<div ng-if="patient.patientHistory">
							<h4>№: {{patient.history_no}} {{patient.name}}</h4>
							<div>Хвора: {{patient.name}} 
							<span ng-bind="calculateAge(patient.patientHistory.patient_dob)"></span>
							р.
							(*{{patient.patientHistory.patient_dob | date:'dd.MM.yyyy'}})</div>
							<div>Адреса: 
								<span ng-if="patient.patientHistory.patient_street">
									вул.{{patient.patientHistory.patient_street}},
									буд.{{patient.patientHistory.patient_house}},
									кв.{{patient.patientHistory.patient_flat}}
								</span>
								<span ng-if="!patient.patientHistory.patient_street">?</span>
							</div>
							<div>Місце роботи: 
								<span ng-if="patient.patientHistory.patient_job">
									{{patient.patientHistory.patient_job}}
								</span>
								<span ng-if="!patient.patientHistory.patient_job">?</span>
							</div>
							<div>Медична інформація: 
								<span>гр.кр.
									<span ng-if="'I' == patient.patientHistory.patient_blood">{{patient.patientHistory.patient_blood}}(O),</span>
									<span ng-if="'II' == patient.patientHistory.patient_blood">{{patient.patientHistory.patient_blood}}(A),</span>
									<span ng-if="'III' == patient.patientHistory.patient_blood">{{patient.patientHistory.patient_blood}}(B),</span>
									<span ng-if="'IV' == patient.patientHistory.patient_blood">{{patient.patientHistory.patient_blood}}(AB),</span>
								</span>
								<span ng-if="patient.patientHistory.patient_rh">Rh(+),</span>
								<span ng-if="!patient.patientHistory.patient_rh">Rh(-),</span>
								<span ng-if="patient.patientHistory.patient_rh == null">Rh(?),</span>
								
								<span ng-if="patient.patientHistory.patient_bj">Bj(+),</span>
								<span ng-if="!patient.patientHistory.patient_bj">Bj(-),</span>
								<span ng-if="patient.patientHistory.patient_bj == null">Bj(?),</span>
								
								<span ng-if="patient.patientHistory.patient_sc">Sc(+),</span>
								<span ng-if="!patient.patientHistory.patient_sc">Sc(-),</span>
								<span ng-if="patient.patientHistory.patient_sc == null">Sc(?),</span>
								
								<span ng-if="patient.patientHistory.patient_tbc">tbc(+),</span>
								<span ng-if="!patient.patientHistory.patient_tbc">tbc(-),</span>
								<span ng-if="patient.patientHistory.patient_tbc == null">tbc(?),</span>

								<span ng-if="patient.patientHistory.patient_t">T(+),</span>
								<span ng-if="!patient.patientHistory.patient_t">T(-),</span>
								<span ng-if="patient.patientHistory.patient_t == null">T(?),</span>

								<span ng-if="patient.patientHistory.patient_hbs">ВІЛ(+),</span>
								<span ng-if="!patient.patientHistory.patient_hbs">ВІЛ(-),</span>
								<span ng-if="patient.patientHistory.patient_hbs == null">ВІЛ(?),</span>

								<span ng-if="patient.patientHistory.patient_rw">RW(+) -</span>
								<span ng-if="!patient.patientHistory.patient_rw">RW(-) -</span>
								<span ng-if="patient.patientHistory.patient_rw == null">RW(?) -</span>
								({{patient.patientHistory.patient_rw_date | date:'dd.MM.yyyy'}})
							</div>
							<div>Побічна дія медикаментів:
							</div>
							<hr class="shortPatienHistory"/>
							<div><u><b>Рух хворого</b></u>:
								<span ng-repeat="patientDepartmentMovement in patient.patientHistory.patientDepartmentMovements">
									{{patientDepartmentMovement.departmentName}}:
									{{$index==0?'↓↓':'↓'
									}}{{patientDepartmentMovement.departmentHistoryIn | date:'dd.MM.yyyy HH:mm'
									}}{{patientDepartmentMovement.departmentHistoryOut?';':''}}
									<span ng-if="patientDepartmentMovement.departmentHistoryOut">
										↑{{patientDepartmentMovement.departmentHistoryOut | date:'dd.MM.yyyy HH:mm'
										}};
										<small>
										{{patientDepartmentMovement.personalSurname}}
										{{patientDepartmentMovement.personalName}}
										{{patientDepartmentMovement.personalPatronymic}}
										</small>
										<br/>
									</span>
								</span>
							</div>
							<hr class="shortPatienHistory"/>
							<div>Діагноз при госпіталізації: 
							<b tooltip-html-unsafe="Дата встановлення: &lt;b>{{patient.patientHistory.diagnosisOnAdmission.historyDiagnosDate 
							| date:'dd.MM.yyyy HH:mm'}}&lt;/b>">
								{{patient.patientHistory.diagnosisOnAdmission.icdCode}},
								{{patient.patientHistory.diagnosisOnAdmission.icdName}}
							</b>
							</div>
							<hr class="shortPatienHistory"/>
							<div><u><b>Перебіг хвороби</b></u>:
								<div ng-repeat="historyTreatmentAnalysis in patient.patientHistory.historyTreatmentAnalysises "
									ng-if="'' != historyTreatmentAnalysis.historyTreatmentAnalysisText"
									ng-show="0 >= historyTreatmentAnalysis.historyTreatmentAnalysisText.indexOf('table')"
								>
									<div ng-bind-html="historyTreatmentAnalysis.historyTreatmentAnalysisText"></div>
								</div>
							</div>
						</div> 
					</div>
					</div>
				</li>
			</ul>
		</div>

		</div>
		<div class="col-md-4 well">
			<div class="navbar-right"> 
			<small>
			<a href="http://localhost/department/{{parameters.dep}}">
			<span class="glyphicon glyphicon-link"></span> HOL1 </a> 
			</small>
			</div>
			<h2>Відділення</h2>
			<div ng-if="department.department_name == 'Реанімаційне'" >
			<div>
				<a href="/anesthesia/narcoseProtocol.html">
				Протокол наркоза
				</a>
			</div>
			<div>
				<h3> Шаблони лікування </h3>
				<h4> Анестезія урологія </h4>
				<ul>
					<li>
						<a href="/anesthesia/template/eta-ea.html">
						ЕТН ЕА - Ендотрахеальний наркоз - епідуральна анестезія
						</a>
					</li>
				</ul>
			</div>
			</div>
		</div>
	</div>

</div>
	<div th:replace="hol1 :: js-lib" />
</body>
</html>
