<!DOCTYPE html>
<html ng-app="cuwyApp" ng-controller="EpicriseCtrl">
<head>
	<title>ХОЛ::
	{{patientHistory.patientDepartmentMovements
				[patientHistory.patientDepartmentMovements.length -1]
				.departmentName}}
	</title>
	<div th:replace="hol1 :: header" />
</head>
<body>
epicrise
</body>
<script type="text/javascript">
var historyFile = "/hol/history_id_"+parameters.hid;
cuwyApp.controller('EpicriseCtrl', [ '$scope', '$http', function ($scope, $http) {

$http({
	method : 'GET',
	url : historyFile
}).success(function(data, status, headers, config) {
	$scope.patientHistory = data;
}).error(function(data, status, headers, config) {
});

} ] );
</script>
</html>